[2017-09-22 13:56] JohnstonCode opened #1 "svn isnt listed as a SCM provider"
This extension isn't offered as an scm provider.

[2017-09-22 18:57] JohnstonCode commented on #1
svn-spawn was no loading.

Moved from devdept to dept

[2017-09-22 18:57] #1 closed

[2017-09-28 08:03] garethflowers opened #2 "Feature Request: Committing"
We would love to have commit support built into this extension.

Any plans to get this implemented?

[2017-09-28 08:51] JohnstonCode commented on #2
Hi Gareth,

Yes, that will be something that I will be adding.

Cant give you an exact timeline but I am working on it.

[2017-10-04 11:44] JohnstonCode opened #3 "symlink paths cant be found"
symlink paths cant be resolved by svn.

The paths are the full symlink paths rather than the path the symlink points to.

- Create repository object to lookup paths and update.

[2017-10-10 11:30] carlosm1979 opened #4 "Open file on click"
A suggestion.
Open file when you do click on filename in changes list.

[2017-10-10 11:45] JohnstonCode commented on #4
Thank you for your suggestion.

This is something that I will be adding.

After using GIT on vs code I find myself clicking the files as well.

[2017-10-11 10:27] JohnstonCode commented on #4
Thanks again for this suggestion.

This is now live in version 0.4.0

Enjoy!

[2017-10-11 10:27] #4 closed

[2017-10-11 10:28] JohnstonCode commented on #2
Just to give you a quick update.

I will be testing this tonight and should be released tomorrow.

[2017-10-11 10:34] carlosm1979 commented on #4
Great, just updated.

Thanks a lot.

[2017-10-12 15:33] JohnstonCode commented on #2
Version 0.5.0 will allow you to commit all changes using the SCM input box.

[2017-10-12 15:33] #2 closed

[2017-10-14 21:02] TheDanR opened #5 "SCM input box not triggering commit"
Hi,

When trying to commit using the SCM input box it appears to do nothing.

If the field is left empty and Ctrl + Enter the command pallet appears but again on entering a description/commit message and pressing Enter it does nothing.

Looking at the change logs it says v5 supports the SCM input box but doesnt appear to be working.

Extra info:
Im using TortoiseSVN client.

The plugin is picking

[2017-10-15 14:26] JohnstonCode commented on #5
Hi @TheDanR ,

Thanks for reporting this issue. I Haven't had any issues but i'm not using the TortoiseSVN client.

I will download it and have a look.

[2017-10-16 16:09] carlosm1979 commented on #5
I did a tres. Could It be a problema with min length    in the commit message?

[2017-10-16 16:34] JohnstonCode commented on #5
Hi @carlosm1979 ,

Don't think the commit message length should be causing an issue. You can commit blank messages.

[2017-10-16 16:45] TheDanR commented on #5
Interesting its now working and displaying the notification that the commit has happened. I'll keep you updated if it happens again.

[2017-10-16 16:55] JohnstonCode commented on #5
Glad to hear.

Please do, got windwos and TortoiseSVN  setup now.

[2017-10-16 16:55] #5 closed

[2017-10-16 21:21] TheDanR opened #6 "Feature Request: Commit selected items"
Great extension so far.

Using it today I found myself only wanting to commit certain files.

Would be good if you could commit only the selected files in the list rather than all of them.

Dan

[2017-10-17 09:02] JohnstonCode commented on #6
Hi @TheDanR ,

This feature would be helpful. I Would have to think how this would be implemented as I am not sure the SCM API allows files to be selected in the source control view. (could be wrong)

This could be done with creating a new resource group and adding the required files then committing this new group.

[2017-10-17 09:06] magic-k commented on #6
The SCM API priovides the possibility for a context menu with multiple selections, See https://code.visualstudio.com/docs/extensionAPI/api-scm under "Menues".

[2017-10-18 23:17] seanmcbreen opened #7 "VS Code and Multi-root Workspaces and SVN Support"
Hi,

I'm from the VS Code team [we have chatted before :)] and I'm reaching out with some additional resources for adopting multi-root workspaces.

But first let me say thank you for working on [SVN Support for VS Code](https://marketplace.visualstudio.com/items?itemName=johnstoncode.svn-scm), we really appreciate the work you have done to make VS Code better.  Adding [support for SVN](https://git

[2017-10-19 08:39] JohnstonCode commented on #7
Hi @seanmcbreen

Thanks for reaching out to me.

I will ensure that my extension will be able to use the new Multi-root Workspaces by the next VS code release.

Looking forward to the SCM Status in the Explorer!

[2017-10-27 04:16] babujan opened #8 "Feature Request: Create Branch and switching to new Branch"
Thank you very much for this svn extension, and the integration to scm is great been using it for about a week.

Are you planning to add feature to create a branch and switching to a branch?

[2017-10-27 08:43] JohnstonCode commented on #8
Hi @babujan

Yes i am planning on implementing all of the commands into the extension. This is currently delayed as i will need to write my own command line interface for SVN as the one i currently use is not flexible enough.

[2017-10-30 23:35] seanmcbreen commented on #7
**Request:** if you have prepared your extension for Multi-root Workspaces we would love you to add multi-root ready to your `package.json` i.e. `"keywords": ["multi-root ready"]`. If you upgrade to `VSCE 1.32.0` this can be added to any existing keywords and will not be counted against the maximum of 5 allowed keywords.

[2017-10-31 09:14] JohnstonCode commented on #7
Hi @seanmcbreen

Having issues with code insiders source control view. It doesn't seem to display the resource groups. It works as expected on code 17.

The changes show if I dump the resource groups but do not populate in the view.

[2017-10-31 09:32] bpasero commented on #7
@JohnstonCode can you report an issue ideally with reproducible steps in our repository?

[2017-10-31 09:41] JohnstonCode commented on #7
Created an issue [here](https://github.com/Microsoft/vscode/issues/37221)

[2017-10-31 14:24] v4a26 opened #9 "Changes mark shows on nonenglish comments."
In this codeblock was no changes, but comments marked like they have been changed. It appears all over the file only when russian comment posted. Using Windows1251 encoding.
![iddqd](https://user-images.githubusercontent.com/9762164/32228595-b74717ec-be5f-11e7-8ee1-710f4283495b.PNG)

[2017-10-31 15:48] dgrumieaux opened #10 "Maxes all available CPUs"
Running on a vanilla VSCode on macOS Sierra 10.12.6. Looks like a large number of svn status processes are running in parallel.

[2017-10-31 15:53] JohnstonCode commented on #10
What version of VS code are you running?

[2017-10-31 15:54] dgrumieaux commented on #10
1.16.1 - going to update and retest

[2017-10-31 15:54] JohnstonCode commented on #10
Okay, Let me know if you have the same issue

[2017-10-31 15:55] JohnstonCode commented on #9
Hi @v4a26 ,

I will have a look into this for you.

[2017-10-31 15:57] dgrumieaux commented on #10
Looks good so far! Thanks. I guess reopen if there's a way to configure a minimum version, but otherwise I'm going to just close. Thanks

[2017-10-31 16:04] dgrumieaux commented on #10
Oops, spoke too soon.

This popped up a few minutes after I closed the issue
![screen shot 2017-10-31 at 10 59 43 am](https://user-images.githubusercontent.com/547941/32234600-48182be2-be2b-11e7-93c7-4b7b2aecc598.png)

[2017-10-31 16:13] JohnstonCode commented on #10
@dgrumieaux sorry that this is happening.

I will have a look into this. See if I can replicate it.

[2017-10-31 16:15] dgrumieaux commented on #10
No problem. Thanks for any help. Let me know if I can test anything else

[2017-11-01 10:26] JohnstonCode commented on #9
Hi @v4a26

Looks like i dont do any checks on character encoding. Think i just assumed that everyone was going to be using utf8.

I will add encdoing checks when i roll out my own svn implimentation. Currently i rely on svn-spawn which limits the config i can currently do.

[2017-11-01 11:11] JohnstonCode commented on #7
Hi @seanmcbreen

Changes have been made and are live.

I have also added the keyword for you.

[2017-11-01 11:11] #7 closed

[2017-11-01 14:16] v4a26 commented on #9
Thx.

[2017-11-02 03:17] antipro opened #11 "error in vs code 1.17.2"
nothing show on source control after change files

[2017-11-02 09:09] JohnstonCode commented on #11
Hi @antipro

Sorry to hear you are having issues. Has this only recently stopped working?

Are you getting the diffs in the gutter?

[2017-11-02 11:15] JohnstonCode commented on #10
Hi @dgrumieaux

I have added a throttle to the update async call. Give it a try and see if you have the same issue.

The latest version is 0.8.2

[2017-11-02 14:16] dgrumieaux commented on #10
So far so good after running for 10 minutes. Closing until I see this again. Thanks for the quick turnaround

[2017-11-02 14:16] #10 closed

[2017-11-02 14:42] JohnstonCode commented on #10
No problem

[2017-11-02 15:41] s-martin opened #12 "Click on file opens diff"
First of all thanks for the effort to finally implement a SVN extension!

I suggest to improve the feature from #4 and not only open the files from changes list, but open the file in diff view.

[2017-11-02 16:34] JohnstonCode commented on #12
Hi @s-martin

No problem using VS code without svn support was a pain for me as well!

Thanks for your suggestion. This is something that I can add.

I will copy the git version. left click open diff view and right click to open a context menu with options to open file, open diff and open HEAD

I am currently working on implementing my own svn interface so can't say when I will get around to this

[2017-11-02 16:57] bkromhout opened #13 "Status of files outside of current folder being shown"
It seems that, if I have VS Code open to a specific folder within my overall SVN repository, the SCM provider is now showing the status of files everywhere in the SVN repository rather than just the files that are under the current folder somewhere.

For example, if VS Code is open to `C:\Dev\branches\A\1\`, and my SVN repo's root is `C:\Dev`, I'm now seeing the status of all files in `C:\Dev`, ra

[2017-11-02 18:18] JohnstonCode commented on #13
HI @bkromhout

Yes this is a regression checking out d2f770bd4b946a39d42d1a029b151e27767c5868 does not have the same issue.

I believe this is because of how the repository root is calculated to accommodate for multi-root.

Thanks for raising this.

[2017-11-03 13:38] magic-k commented on #11
I also see nothing in the source control view in 1.17.2. It just states that there is no active scm provider. svn-scm ist installed and active.

[2017-11-03 13:47] JohnstonCode commented on #11
Is svn set in your PATH?

[2017-11-03 13:57] magic-k commented on #11
Yes

[2017-11-03 14:11] JohnstonCode commented on #11
Not sure what could be causing that. Working for me at the moment on two separate projects.

If you toggle the developer console are there any errors.?

[2017-11-03 14:31] magic-k commented on #11
console.ts:123 [Extension Host] detect tortoiseSVNProcExePath
console.ts:123 [Extension Host] Error: Command failed: reg query HKEY_LOCAL_MACHINE\SOFTWARE\TortoiseSVN /v ProcPath | find /i "ProcPath"
/bin/sh: 1: reg: not found
find: "/i": Datei oder Verzeichnis nicht gefunden
find: "ProcPath": Datei oder Verzeichnis nicht gefunden

	at checkExecSyncError (child_process.js:493:13)
	at Object.execSy

[2017-11-03 14:45] JohnstonCode commented on #11
Can you disable tortoise-svn and dumping the console again, please.

[2017-11-03 14:51] magic-k commented on #11
Oh, didn't see that this came from tortoise-svn. I disabled the extension, only output in debugging is
" [Extension Host] svn-scm is now active!"
But still nothing in Source control view.

[2017-11-03 14:52] JohnstonCode commented on #11
Thank you. I will look into this right now.

[2017-11-03 14:52] magic-k commented on #11
Got after a while the following:
console.ts:123 [Extension Host] (node:1700) DeprecationWarning: os.tmpDir() is deprecated. Use os.tmpdir() instead.

[2017-11-03 14:57] JohnstonCode commented on #11
Can you make sure your on version 0.8.3

Just remembered I broke 0.8.2.

[2017-11-03 15:10] magic-k commented on #11
I'm on 0.8.3.

[2017-11-03 15:31] JohnstonCode commented on #13
Hi @bkromhout

Version 0.8.4 should fix this for you.

[2017-11-03 15:34] JohnstonCode commented on #11
I can think what would be causing the source control not to load.

Could be a number of things now the root is being worked out.

I have just released 0.8.4 to fix another bug with source control view not working properly.

Give that a try.

[2017-11-03 15:40] magic-k commented on #11
0.8.4 doesn't fix it

[2017-11-03 15:43] JohnstonCode commented on #11
I think i know what it might be.

If you do "svn info" in the same folder as you are opening in vs code does your output look like this?

Path: .
Working Copy Root Path: /var/www/html/project
URL: svn+ssh://svn.cjohnston.net/home/shared/svn/system/branches/chris
Relative URL: ^/branches/chris
Repository Root: svn+ssh://svn.cjohnston.net/home/shared/svn/system
Repository UUID: d454355f43-fdee-0310-

[2017-11-03 15:49] magic-k commented on #11
Thats my output, only difference i see is that i use http (had to replace stuff with xxx, it's a company project).

svn info
Path: .
Working Copy Root Path: G:\projects\xxx\xxx
URL: http://svn.xx.xxx.de/svn/xxx/xxx/branches/xxx/xxxApp/xxx
Relative URL: ^/xxx/branches/xxx/xxxAp/xxx
Repository Root: http://svn.xx.xxx.de/svn/xxx
Repository UUID: 1dc51510-c564-46d4-b9f3-86f09753e860
Revision: 7576
Nod

[2017-11-03 15:55] brunnerh opened #16 "Typo in SVN missing in $PATH message"
I suppose that should be *available*. Appears multiple times in the code, presumably due to copying.

[2017-11-03 16:01] JohnstonCode commented on #16
Thanks @brunnerh

Yes, that will be some sloppy copy paste on my part.

I will get it cleaned up

[2017-11-03 16:05] JohnstonCode commented on #11
Think this will be an issue on windows the "\" I'm sure will be doing weird things.

Don't have a windows machine at work so will test when I'm at home.

Let me know if you still have the issue on Linux with the latest version.

If you do please do svn info again and only show me the "Working Copy Root Path:" line please.

[2017-11-03 16:14] magic-k commented on #11
My Linux VM is in german:
Wurzelpfad der Arbeitskopie: /mnt/devel/xxx/project/xxxApp/xxx

[2017-11-03 16:16] JohnstonCode commented on #11
That will be why then.

Sorry for breaking things for you!

Leave this with me ill think of something. Should have it fixed by Monday.

[2017-11-03 16:18] magic-k commented on #11
Switched to english
Working Copy Root Path: /mnt/devel/xxx/project/xxxApp/xxx

Still not working
No problem, I'm happy there's someone working on SVN at all. I'm going home now anyway.

[2017-11-03 16:24] Yanpas opened #17 "SVN support broken after update from 0.8.0 to 0.8.3"
Directories inside svn tree are not determined as svn working trees after update anymore. So diff and eveything else doesn't work.

OS Linux Ubuntu
version 0.8.4 - same story

[2017-11-03 16:29] csholmq commented on #16
Fixed in #15

[2017-11-03 16:35] #16 closed

[2017-11-03 16:38] JohnstonCode commented on #17
Can I have a little more information, please. I don't quite understand what you mean.

[2017-11-03 16:39] #13 closed

[2017-11-03 20:39] Yanpas commented on #17
I have a folder `y`:
[code]
I clock "open folder" in vs code, click on big black vcs icon and it suggests me to init empty git repo, ti doesn't find svn here, but before update your extension worked: it did show diff... and I guess that's all.

[2017-11-04 11:09] JohnstonCode commented on #17
Thanks for raising this i will look into it.

[2017-11-06 10:02] JohnstonCode commented on #17
Just released 0.8.5 see if that fixes your issue.

[2017-11-06 10:03] JohnstonCode commented on #11
Just released 0.8.5 see if that fixes your issue.

[2017-11-06 11:21] magic-k commented on #11
SCM viewis working again. Thanks.

[2017-11-06 11:37] JohnstonCode commented on #11
Thanks for letting me know!

@antipro re-open this issue or create a new one if you are still having issues.

[2017-11-06 11:37] #11 closed

[2017-11-06 15:06] Yanpas commented on #17
It seems to work on my local machine with local repository (`file:///`), tommorow will test on real working copies

[2017-11-06 15:23] JohnstonCode commented on #17
Okay, let me know.

[2017-11-06 16:59] stephanedr opened #18 "Clicking"
When VSCode is open in a sub-directory of a SVN repo, clicking on the file in the changes list fails (this was working before 0.8.x I think).
The error is that the sub-directory is ignored.

For example:
 main
    .svn
    subdir  --> VSCode opened from this directory
        file

When clicking on file, VSC reports "file not found (main/file)".

[2017-11-06 17:21] JohnstonCode commented on #18
Hi @stephanedr

Thanks for raising this.

Fixed in 0.8.7

[2017-11-07 08:00] Arwalk commented on #17
Have the exact same problem here, none of my checkouts are recognized anymore. I'm on 0.8.7 . I think it started behaving that way since 0.8.5, prior versions were working fine.

[2017-11-07 08:31] stephanedr commented on #18
Hi,
I confirm this is fixed.
Thanks.
Stephane

[2017-11-07 08:33] andresbm05 opened #19 "Configure source path"
I have a project which includes various modules and I'm only working on one of them with VSCode, the problem using this extension is that it tries to look up for the files where the .svn folder is (in the parent directory) when it should look up on the current directory. For example my main project is en C:\project but the project I'm working on with VSCode is in C:\project\VSCproject, if I have a

[2017-11-07 09:15] JohnstonCode commented on #19
Hi @andresbm05

The extension should only lookup files in the open directory, not the full project.

Is this affecting the source control view or the diffs in the gutter?

[2017-11-07 09:17] JohnstonCode commented on #17
Hi @Arwalk

I am not sure what you mean by your checkouts are not recognized.

Can you give me a little more information?

[2017-11-07 09:41] Arwalk commented on #17
Sure. My workspace is a SVN checkout. Before, it was instantly recognized as a SVN working copy. Now, not anymore, just like @Yanpas it doesn't seem to recognize it as a svn workspace and only suggests me to init a new git repository.

It doesn't track any changes anymore.

Is it clearer?

[2017-11-07 11:16] andresbm05 commented on #19
Hi @JohnstonCode
It is affecting the source control view because for every modified file, when I click on it, it promts a message saying that file ... could not be oppened: file not found(file:///wrong_path_to_file)
That wrong path is the path of my main project (the one with the .svn folder) plus the path to the file from the opened directory, it is missing the in between folders to reach the ope

[2017-11-07 11:32] Yanpas commented on #17
I've tested on real svn repo and extension works again! (version 0.8.7)

[2017-11-07 11:57] JohnstonCode commented on #19
I get you. Fixed that for Linux last night are you using version 0.8.7?

[2017-11-07 11:58] JohnstonCode commented on #17
Glad to hear @Yanpas!

[2017-11-07 12:34] Arwalk commented on #17
Considering it works for @Yanpas i suppose it's mostly about my configuration.

"svn info --show-item" doesn't seem to exist for my version (version 1.8.8 (r1568071)) which might explain something later. In the end, here's the output of a full svn info, stripped of personal/work related informations.

`Path: .
Working Copy Root Path: /home/[REDACTED]
URL: [REDACTED]
Relative URL: ^/[REDACTED]
Repo

[2017-11-07 12:57] andresbm05 commented on #19
I have just updated and the problem was solved. Using Windows 7 x64.

Thanks!

[2017-11-07 13:05] #19 closed

[2017-11-07 13:08] JohnstonCode commented on #17
Yeah " --show-item" was added in 1.9

I should have checked what version it was added.

I use that as it was the only language neutral way I could get the root path for the given repository.

[2017-11-07 13:23] Arwalk commented on #17
Sadly Ubuntu 14.04 doesn't have support for svn 1.9. I'll have to wrestle around this at work then.

Thank you.

[2017-11-07 13:24] JohnstonCode commented on #17
Sorry about that.

Blame multi-root workspaces coming in Code 1.18.

I'll also add the 1.9 requirement to the readme.

[2017-11-07 13:24] #17 closed

[2017-11-07 13:28] s-martin commented on #17
Is there a possibility to add support for SVN 1.7? On CentOS we are bound to that old version

[2017-11-07 13:31] s-martin opened #21 "Support SVN lower than 1.9"
- VSCode Version: 1.17.2
- OS Version: CentOS 7
- Extenstion Version: 0.8.7

Please provide support for SVN 1.7. CentOS ships only with that old version.

[2017-11-07 13:31] JohnstonCode commented on #17
Yes. thanks for opening an issue.

[2017-11-07 13:32] JohnstonCode commented on #21
I will look into this. Will need to set up some VMs for different languages to make sure I don't break anything for them as well.

[2017-11-07 13:37] s-martin commented on #21
Happy to provide tests for CentOS 7 with SVN 1.7 and Windows 7 with TortoiseSVN

[2017-11-07 14:02] JohnstonCode commented on #21
Does your terminal output in German?

[2017-11-07 14:06] s-martin commented on #21
Windows German, CentOS English

[2017-11-07 14:08] JohnstonCode commented on #21
Okay so if you do "svn info" on windows do you get something like this on the 2nd line?

"Wurzelpfad der Arbeitskopie: G:\projects\xxx\xxx"

[2017-11-07 14:10] s-martin commented on #21
C:\_MYDATA\Projekte\projekt1>svn info
Path: .
Working Copy Root Path: C:\_MYDATA\Projekte\projekt1
URL: http://REMOVED/svn/projekt1
Relative URL: ^/
Repository Root: http://REMOVED/svn/projekt1
Repository UUID: REMOVED
Revision: 2660
Node Kind: directory
Schedule: normal
Last Changed Author: REMOVED
Last Changed Rev: 2660
Last Changed Date: 2017-11-07 09:10:30 +0100 (Di, 07 Nov 2017)

[2017-11-07 14:12] s-martin commented on #21
I guess this depends on the language of TortoiseSVN (I have the English version installed)

[2017-11-07 14:18] JohnstonCode commented on #21
Guessing it does.

I will just download the German version when I get home.

Only need to test to see if the XML is translated or is the same regardless of language.

[2017-11-07 16:55] Yanpas opened #23 "Unable to add file"
- VSCode Version: 1.17.2
- OS Version: ubuntu 16.04
- Extension Version: 0.8.7
- System Language: ru_RU.UTF8

Steps to Reproduce:

1. Create unversioned files
2. Click on "+" icon

PS there is nothing interesting in devtools: no stack trace, just the same message with some callbacks.

[2017-11-07 16:58] Yanpas commented on #23
After playing with terminal I know bug's reason: files actually were actually added, they just remained marked as unversioned in vs code. So they must be moved to Changes list and have "A" icon.

[2017-11-07 17:01] Yanpas commented on #23
There are problems with VCS panel updates: it is not refreshed on many file operations. E.g. if you edit file, save it, undo changes and save it again it will remain in changes list

[2017-11-07 17:04] JohnstonCode commented on #23
Not able to replicate the issue.

How many changes and not tracked items do you currently have?

[2017-11-07 17:08] Yanpas opened #24 "Commit action commits all changed files in tree, not only in local folder"
VSCode Version: 1.17.2
OS Version: ubuntu 16.04
Extension Version: 0.8.7
System Language: ru_RU.UTF8

Steps to Reproduce:
[code]

Your current folder is y, all files are versioned, file1 and file3 are modified. Commit action commits file1 and file3, but it must commit only file1

[2017-11-07 17:33] Yanpas commented on #23
Well, only one seems to be enough (in previous revision there were 8 changes. It feels like the list(`this.changes`) of changes is not replaced, but merged with newcomers.

[2017-11-07 18:25] JohnstonCode commented on #23
I'm not able to replicate either issue.

The list (this.changes) gets wiped and replaced on every event update.

The errors that VS Code emits are less than helpful. Not sure what could be causing your issue.

[2017-11-07 18:28] JohnstonCode commented on #24
This is an awkward issue.

The VS Code team has decided that with their git scm that the entire project is listed in the source control view. This is to rule out cases like this when running other commands.

What is your opinion on this?

Do you think the source control view should be repository wide or scoped down the the opened folder?

[2017-11-07 19:03] JohnstonCode commented on #23
Finally been able to replicate it!

Ill look into it ASAP

[2017-11-07 20:27] Yanpas commented on #24
I guess that svn-scm should use current directory, not root. First of all because changelist in the sidebar is displayed for current directory, secondly because eclipse plugin works the same (and I'm almost sure IDEA's too).

Git and svn has different concepts. Git treats one repository as one project, Svn doesn't have such constraint (e.g. [apache's svn](https://svn.apache.org/viewvc) contains al

[2017-11-07 20:46] drenda opened #25 "Create guide to use the plugin"
I think would be useful a small guide to use the extension. I installed it but I don't see anything in the SCM section.
I had svn on my system: `Client Subversion, versione 1.6.17-SlikSvn-tag-1.6.17@1130898-X64
`

A troubleshooting guide would be appreciated. Thanks

[2017-11-07 20:59] JohnstonCode commented on #25
This extension does not currently work with subversion < 1.9.

Working on fixing this should be updated tomorrow.

[2017-11-07 21:01] drenda commented on #25
Oh ok. Thanks very much. I looking forward to the update then ;-)

[2017-11-07 21:54] JohnstonCode commented on #25
Version 0.8.8 should work for you now.

[2017-11-07 21:54] #25 closed

[2017-11-07 21:55] JohnstonCode commented on #23
This should be fixed in 0.8.8

[2017-11-07 21:55] #23 closed

[2017-11-07 22:02] JohnstonCode commented on #21
Using XML now. see if anyone complains. Removes the 1.9 req.

[2017-11-07 22:02] #21 closed

[2017-11-08 08:17] drenda commented on #25
Thanks very much. Now I see the svn view. Sorry for the question, maybe it is silly: I don't see the context menu to commit, see differences, updates and so on. Is that normal?
See the attachment:

![svn](https://user-images.githubusercontent.com/3420646/32538213-8cab3836-c465-11e7-9af1-cb1a8c917ca6.png)

[2017-11-08 10:06] JohnstonCode commented on #25
Not written many svn commands yet. It is on the to-do list tho.

[2017-11-08 11:13] JohnstonCode commented on #24
Done the code for this.

Will be testing it tonight.

[2017-11-08 11:21] Yanpas opened #26 "Changelist is not updated if changelist reaches zero amount"
VSCode Version: 1.17.2
OS Version: ubuntu 16.04
Extension Version: 0.8.9
System Language: ru_RU.UTF8

Steps to Reproduce:

1. open folder with no changes (svn status returns no lines)
2. edit some file, save it
3. Undo changes, save it

File is still in the change list, change list is not updated

See also #23

[2017-11-08 11:32] JohnstonCode commented on #26
Give 0.8.10 a try.

[2017-11-08 11:33] JohnstonCode commented on #24
0.8.10 should fix this for you.

Using the commit box will only commit the files listed under "changes" in the source control view.

[2017-11-08 11:39] Yanpas commented on #26
It works with 0.8.10!

[2017-11-08 11:39] #26 closed

[2017-11-08 11:41] JohnstonCode commented on #26
Cheers for catching that again. Seems I created a regression.

[2017-11-08 11:58] Yanpas commented on #24
Yes, in 0.8.10 only local files are commited, but changes list is not updated after commit (create new issue?)

here are some commands for future tests:
[code]

[2017-11-08 13:25] JohnstonCode commented on #24
Not able to replicate that.

Been using the source control input box and the right click option I'm testing.

[2017-11-08 13:30] Yanpas commented on #24
I commit using ctrl+enter. To refresh VCS sidebar i resave file as a workaround
![_2017-11-08_16-28-44](https://user-images.githubusercontent.com/7345761/32551558-0142acec-c4a2-11e7-9e2e-9411088c4645.png)

[2017-11-08 13:31] JohnstonCode commented on #24
I'll add a manual call to update. that should sort it out.

[2017-11-08 13:35] Yanpas commented on #24
Thanks, marking as closed

[2017-11-08 13:35] #24 closed

[2017-11-08 13:58] Yanpas opened #27 "changelist is not updated on "+" icon click"
VSCode Version: 1.17.2
OS Version: ubuntu 16.04
Extension Version: 0.8.10
System Language: ru_RU.UTF8

Steps to Reproduce:

1. create unversioned file
2. press "+" in vcs sidebar
3. file is actually added, but sidebar is not refreshed

[2017-11-08 14:02] JohnstonCode commented on #6
Hi @TheDanR

Sorry for the delay.

Changes now have a right click option to commit. You can select multiple files by pressing Ctrl and selecting the files.

This is live in version 0.9.0

[2017-11-08 14:02] #6 closed

[2017-11-08 14:17] JohnstonCode commented on #27
Not able to replicate.

![svnadd](https://user-images.githubusercontent.com/10222719/32553701-82575fac-c48f-11e7-9ea1-d0b5ea533b02.gif)

[2017-11-08 14:19] Yanpas commented on #27
¯\_(ツ)_/¯

![peek 2017-11-08 17-18](https://user-images.githubusercontent.com/7345761/32553822-f6dfbb80-c4a8-11e7-8f8c-1db690322127.gif)

[2017-11-08 14:24] Yanpas commented on #27
Anyway I guess refresh button would be useful. Sometimes I do some svn actions from console.

[2017-11-08 14:25] JohnstonCode commented on #27
Yeah, that sounds like a sane idea.

I will also get the update to listen to command calls as well.

[2017-11-08 18:53] Blfrg opened #28 "Right Click Commit Changes -> esc [to cancel] -> commits "undefined""
- VSCode Version: 1.19.0-insider 6e4cc713eeb96c7a67453c33e5954e659fcfe3c0 (today's version)
- OS Version: Ubuntu 17.04
- Extension Version: 0.9.0
- System Language: EN-US

Steps to Reproduce:

1. Right-click file to commit from 'changes' pane
2. Prompt for commit message says 'esc' to cancel, press esc
3. Successful commit message displayed
4. Check repo, file is committed with message "undefined"

[2017-11-08 19:41] JohnstonCode commented on #28
Hi @Blfrg

Thanks for raising this. Ill have to have a look at the VS Code API docs to see if the implimentation has changed.

[2017-11-09 07:25] ZhiPing-S commented on #6
hi , after i apply commit, it pop up message "Unable to commit", can you give me some advices ? thanks

[2017-11-09 09:18] JohnstonCode opened #29 "Unable to commit"
@ZhiPing-S

"hi , after i apply commit, it pop up message "Unable to commit", can you give me some advices ? thanks"

[2017-11-09 09:18] JohnstonCode commented on #29
Can I have a few details please.

- VSCode Version:
- OS Version:
- Extension Version:
- System Language:

[2017-11-09 09:25] ZhiPing-S commented on #29
@JohnstonCode
VSCode Version: 1.18.0
OS Version: Win10
Extension Version: v0.9.0
System Language: Chineses

[2017-11-09 09:30] JohnstonCode commented on #28
This should be fixed in version 0.10.0

[2017-11-09 09:30] #28 closed

[2017-11-09 09:34] JohnstonCode commented on #29
Thanks for the info.

Think this will be a slash issues. I am sure the windows paths are returned in the following format "C:\Projects\ProjectName" and VS code give file paths in the "Projects/ProjectName".

A simple replace of the slashes should fix this.

[2017-11-09 09:43] ZhiPing-S commented on #29
{
		"name": "SGMW_SVN",
		"rootPath": "D:\\repository\\SGMW_2017\\src",
		"paths": [],
		"group": ""
	},

i think this is ok, right ?

[2017-11-09 09:46] JohnstonCode commented on #29
It still will not work. The extension is trying to join two different styles of file paths.

[2017-11-09 11:43] ZhiPing-S commented on #29
{
		"name": "SGMW_SVN",
		"rootPath": "D:/repository/SGMW_2017/src",
		"paths": [],
		"group": ""
	}
hi, after i fix the slashes, it still not work

[2017-11-09 11:51] magic-k commented on #9
I don't know if it falls into this issue. Despite seing the decoration for changes for every line that contains an Umlaut (german setting, using iso8859-15 as char set) which is related to this issue, i also see a change indicator in every file at the last line. It always shows that the last  empty line was added in the local copy.
None of the files were actually changed. Clean from the repository

[2017-11-09 11:53] JohnstonCode commented on #29
If you do "svn info" from the command line what are the slashes like for "Working Copy Root Path"?

[2017-11-09 11:57] JohnstonCode commented on #9
Yeah, i have noticed that today on 1.18. Looks like the editor is adding a new line.

[2017-11-09 11:59] ZhiPing-S commented on #29
it's "D:\repository"

[2017-11-09 12:02] JohnstonCode commented on #29
Thanks for doing that.

Not sure what could be causing it.

I will have to debug later when I have my windows machine available.

[2017-11-09 12:21] JohnstonCode commented on #29
Also, do your file names contain any Chineses characters?

[2017-11-09 12:23] dpanic opened #30 "Support for multiple .svn folders"
- VSCode Version: Version 1.18.0 (1.18.0)
- OS Version: MacOS High-Sierra
- Extension Version: 0.10.0
- System Language: English

Steps to Reproduce:
Extension doesn't work if you open folder with multiple projects. Only if you open certain folder with one .svn folder inside.

Is this possible to change?

[2017-11-09 12:30] ZhiPing-S commented on #29
no

[2017-11-09 12:33] JohnstonCode commented on #30
This was a consideration that I had.

The Issue I face was how deep should it check for other repositories. I know the git extension only goes one level deep when looking for repositories.

What would your suggestion be?

[2017-11-09 13:19] s-martin commented on #30
Configurable, with 1 level deep as default?

[2017-11-09 13:21] dpanic commented on #30
I agree, configurable with default 1 level deep.

[2017-11-09 13:27] JohnstonCode commented on #30
That seems like a very reasonable option.

[2017-11-09 14:21] ZhiPing-S commented on #29
i install both tortiveSVN and Apache-Subversion, does it conflict ?

[2017-11-09 15:09] JohnstonCode commented on #29
That won't be causing an issue. It just uses "svn" from the PATH

[2017-11-09 17:04] Blfrg commented on #28
Confirmed, thank you for the quick turn around!

[2017-11-10 01:32] ZhiPing-S commented on #29
i run "svn commit in command line, it works fine.

[2017-11-10 14:45] JohnstonCode commented on #9
This has been done and will be available as part of v1.0.0.

[2017-11-13 17:00] rbingham opened #31 "Only showing two svn repos in source control while using multi-root workspaces"
- VSCode Version: 1.18.0
- OS Version: ubuntu 16.04
- Extension Version: 0.10.0
- System Language:

Steps to Reproduce:

1. Add 3 or more folders to multi-root workspace under svn control
2. Check SCM to show only two svn repos instead of all the repos.
![folders_in_workspace](https://user-images.githubusercontent.com/7032804/32738185-6d6334f4-c859-11e7-9cc0-814f6397ef43.png)
![svn_in_scm](https:/

[2017-11-13 17:28] JohnstonCode commented on #31
Hi @rbingham

Yes i am able to replicate this. Does the SCM show all three if you close and re-open Code?

[2017-11-13 17:36] JohnstonCode commented on #9
Hi @magic-k @v4a26

Can you send me a sample of the comments you are having issues with so i can test them out please?

[2017-11-13 18:01] rbingham commented on #31
@JohnstonCode No, closing and re-opening Code doesn't fix the issue. Thanks for looking into it.

[2017-11-13 18:02] JohnstonCode commented on #31
Thanks for raising this. Seems i forgot to add workspace events. Oops!

[2017-11-14 04:30] bishnuprasad08 opened #32 "SVN is not available in your PATH"
- VSCode Version:1.17.2
- OS Version:Windows 10
- Extension Version:PHP
- System Language:

SVN is not available in your PATH. svn-scm is unable to run!

I am getting this error in visual studio code .I have already set my SVN path in environmental variables. Still getting this issues .

Steps to Reproduce:

1.Install the extension .
2.Open any project .It is showing on top

[2017-11-14 06:22] v4a26 commented on #9
Try this one. Codepage: windows 1251.
[Untitled-1.zip](https://github.com/JohnstonCode/svn-scm/files/1469754/Untitled-1.zip)

[2017-11-14 09:01] JohnstonCode commented on #32
What output do you get if you run "svn info" in the folder you are trying to open?

[2017-11-14 09:01] JohnstonCode commented on #9
Thanks!

[2017-11-14 09:36] sir-marc commented on #29
I can not commit either.
I get the following error message in the devtools:
`Running the contributed command:'svn.commitWithMessage' failed.: Error: Running the contributed command:'svn.commitWithMessage' failed.
	at e.$executeContributedCommand (<Path to VS Code>\VSCode\resources\app\out\vs\workbench\node\extensionHostProcess.js:4:412111)`

VSCode Version: 1.18.0
OS Version: Win7
Extension Versio

[2017-11-14 12:20] s-martin commented on #32
Do you use TortoiseSVN? If yes, did you install TortoiseSVN with Command Line Tools (i.e. `C:\Program Files\TortoiseSVN\bin` should contain a **svn.exe**)

[2017-11-17 14:10] luanmm commented on #32
Why should it depend specificly in TortoiseSVN? I already have another SVN client tool in my path that I can run using any command-line, as SVN always uses a standard program "svn.exe" in Windows, and can't get it to work with svn-scm aswell, for the same reason.

[2017-11-17 14:27] JohnstonCode commented on #32
What output do you get if you run "svn --version" in the folder you are trying to open?

[2017-11-17 14:33] luanmm commented on #32
For me, it gives this output:

[code]

[2017-11-17 14:38] JohnstonCode commented on #32
Thanks for getting back to me so fast.

Issues like this should be fixed in the next release and if not give a more accurate error message.

[2017-11-17 14:46] luanmm commented on #32
You're welcome, @JohnstonCode. Thanks for answering that fast, too, and for all your work in this extension. If you need more details, feel free to ask.

Just a little question, if I may ask: do you have any plans in using "git-svn" someday as an alternative for an SVN client? It couldn't mimic everything that SVN does? These questions are somehow important because there are some developers who pr

[2017-11-17 15:03] Arwalk commented on #32
I don't think this should be the responsability of this extension. git-svn is a git command, not a svn one.

[2017-11-17 15:12] luanmm commented on #32
@Arwalk from this point of view, I agree. But think that way: if `git-svn` can do everything SVN does (or better, can do everything the user may do from the VSCode interface), there is no point to have two extensions co-existing with the same functionality.

My thought is that a lot more VSCode users use Git than SVN. And they already have Git client installed. So why - if `git-svn` could be used

[2017-11-17 15:19] Arwalk commented on #32
@luanmm someone using git-svn wants to use git, and just interface on svn when needed. Supporting git-svn through another extension (that could rely on svn-scm, maybe?) or through an update of git support in vscode seems way more coherent.

Also, i don't see where you understood that the extension relies on tortoiseSVN. The extension relies on the svn binary of your own setup. I.e: i use svn-scm o

[2017-11-17 15:30] luanmm commented on #32
@Arwalk sometimes people don't use Git or SVN because they want, but because it is needed. My point is just to simplify things here.

The `git-svn` tool has no point for Git repositories. It is a wrapper inside its client to make it capable of dealing with SVN repositories. And deal with SVN repositories is the point of this extension. That's the link.

My first comment was a bit awkward, indeed.

[2017-11-17 15:31] s-martin commented on #32
**tl'dr: Do not support git-svn**

@luanmm From my point of view svn-svm shouldn't provide an inteface to git-svn, because that would be using a SVN extension to utilitze a git command to connect to a SVN repo. That doesn't make sense to me and I don't see how this is a simplification.

At this point you can already use the Git extension to use git-svn to connect to a SVN repo. Although you have t

[2017-11-17 15:37] luanmm commented on #32
@s-martin thanks for the information. This clarify some things.

I have just asked for any plans regarding `git-svn`, but I never told that it was something this extension MUST provide. I don't even know if the tool has support for everything it would need to be able to do the things SVN clients do, as I stated before.

About your tip regarding Git extension + git-svn, it is not really a solution.

[2017-11-17 15:58] JohnstonCode commented on #32
@luanmm my plan for this extension is to not need to use the terminal at all for any SVN workflow.

The limiting factor at the moment is my time.

[2017-11-17 16:05] luanmm commented on #32
@JohnstonCode yep, sure. It seems to be a great job till now. Please don't take any comment as a criticism. It was just a discussion about possibilities.

I'm sure it already fills a gap in a lot of scenarios and have potential to be a great extension for more in the near future. Congratulations for the initiative!

[2017-11-17 19:48] magic-k commented on #32
@s-martin Isn't a rebase the aquivalent so svn update?
@luanmm If you checkout a svn repository with git svn clone, you have a git repository where you want to use git commands. So i think it falls in the git extension to provide git svn. Maybe as an extension to the git extension.
I have a lot of legacy projects in an svn repository. Converting it to a git repository or even use git-svn is not re

[2017-11-19 16:41] arppl opened #34 "Feature: SVN status in file explorer"
I'd love to see the SVN status indicated with colors/icons in the file explorer similar to the GIT integration in 1.18:

![GIT file explorer decorations](https://user-images.githubusercontent.com/1794099/31959388-d709c69e-b8f4-11e7-8440-e33a1e742130.png)
Image stolen from https://github.com/Microsoft/vscode/issues/178

Maybe it's possible to reuse the git code from the official extension: https://

[2017-11-21 09:49] JohnstonCode commented on #34
Hi @arppl

This is something that I have wanted to implement. So far I have not found any docs on how to implement this.

I have also looked through the git extension source and can't see anything that stands out.

If you can find any references please let me know.

[2017-11-21 11:18] magic-k commented on #34
It seems to be implemented only inside the git extension. From the Changelogs of 1.18:

Maybe contact microsoft directly?

[2017-11-21 14:20] Yanpas opened #35 "Diff is not encoding aware"
- VSCode Version: 1.18.1
- OS Version: linux
- Extension Version: 0.10.0
- System Language: ru

Steps to Reproduce:

1. Create repo with file in CP1251 encoding (windows 1251)
2. Save it and commit to repo. (svn st should return 0 lines)
3. Open in vs code, lines with cyrillic symbols will have blue diff stripe.
![image](https://user-images.githubusercontent.com/7345761/33077137-fd5e0cc8-cedf-11e7

[2017-11-21 14:30] JohnstonCode commented on #35
#9

Same issue. I have fixed this in the next release.

[2017-11-21 14:41] Yanpas commented on #35
BTW I have tried to repro this issue with git and it reproduces.

[2017-11-23 11:58] cnsgithub opened #36 "Feature request: Add more file-options e.g. Revert"
Hi, Currently , if you open the context menu for a file in the SourceControl view, there is only one option:

"Commit Selected".

![image](https://user-images.githubusercontent.com/13161711/33171895-4450f28e-d04e-11e7-8c52-32d45f34c863.png)

Consider adding more options, especially "**Revert**" would be very useful here. (Other a nice-to-have but not a must-have)

See the context-menus of an Eclip

[2017-11-23 12:11] JohnstonCode commented on #36
Hi @cnsgithub

Thanks for opening an issue. I do agree the feature set is very limited at the moment.  I do plan on implementing the full set of Svn commands.

This will be my next port of call once V1.0.0 is released.

[2017-11-24 11:17] edgardmessias commented on #34
See https://github.com/Microsoft/vscode/blob/master/extensions/git/src/decorationProvider.ts to implement

[2017-11-24 11:57] JohnstonCode commented on #34
Ta, I will have a look.

[2017-11-24 12:47] edgardmessias opened #37 "Add specific output channel (Ex. GIT)"
Add specific output channel (Ex. GIT)

it would be interesting to show the commands being executed and its output

See https://github.com/Microsoft/vscode/blob/master/extensions/git/src/main.ts#L62

[2017-11-24 16:07] edgardmessias commented on #34
See the link: https://code.visualstudio.com/updates/v1_18#_git-status-in-file-explorer

There is also a proposed API to allow extension authors to add color decorations to arbitrary resources.

[2017-11-27 10:03] JohnstonCode commented on #8
Should be working in v1.0.1

[2017-11-27 10:03] #8 closed

[2017-11-27 10:03] JohnstonCode commented on #9
Should be working in v1.0.1

[2017-11-27 10:04] JohnstonCode commented on #12
Should be working in v1.0.1

[2017-11-27 10:04] #12 closed

[2017-11-27 10:04] JohnstonCode commented on #27
Should be working in v1.0.1

[2017-11-27 10:04] #27 closed

[2017-11-27 10:04] JohnstonCode commented on #29
Should be working in v1.0.1

[2017-11-27 10:04] #29 closed

[2017-11-27 10:04] JohnstonCode commented on #31
Should be working in v1.0.1

[2017-11-27 10:04] #31 closed

[2017-11-27 10:05] JohnstonCode commented on #32
Should be working in v1.0.1

[2017-11-27 10:05] #32 closed

[2017-11-27 10:05] JohnstonCode commented on #35
Should be working in v1.0.1

[2017-11-27 10:05] #35 closed

[2017-11-27 12:33] magic-k opened #40 "Diff Changes HEAD is not working"
- VSCode Version: 1.18.1
- OS Version: Windows10/Ubuntu 14.4
- Extension Version: 1.0.1
- System Language: german

Steps to Reproduce:

1. Goto SCM Explorer
2. Right mouse on a modified file
3. Select "Diff Changes HEAD" from context menu

Result: Nothing

The Editor shows the decorations for changes correctly and the quick diff works.

[2017-11-27 12:37] s-martin commented on #40
Dito for CentOS 7.4

[2017-11-27 12:38] JohnstonCode commented on #40
Do you get anything in the error log?

[2017-11-27 12:41] magic-k commented on #40
[johnstoncode.svn-scm] Running the contributed command:'vscode.diff' failed. Illegal argument 'left' - Left-hand side resource of the diff editor: Error: Running the contributed command:'vscode.diff' failed. Illegal argument 'left' - Left-hand side resource of the diff editor
	at e.$executeContributedCommand (c:\Program Files\Microsoft VS Code\resources\app\out\vs\workbench\node\extensionHostProce

[2017-11-27 12:52] JohnstonCode commented on #40
ummmmm

Not a clue why that has stopped working.

Working on this now

[2017-11-27 12:56] s-martin commented on #40
@magic-k: dito

[2017-11-27 13:43] JohnstonCode commented on #40
Fixed in v1.0.2

Seems i added async when it wasn't needed.

[2017-11-27 13:43] #40 closed

[2017-11-27 16:22] JohnstonCode commented on #36
Added the ability to revert in v1.1.0

I will add all the other commands in time.

[2017-11-27 16:22] #36 closed

[2017-11-27 16:48] #37 closed

[2017-11-28 02:34] JadynWong opened #44 "Unable to commit"
- VSCode Version:1.18.1
- OS Version:windows 10 1709
- Extension Version:1.20
- System Language:chinese

Steps to Reproduce:

1.Only show **Unable to commit**,Can't find any error msg.Include output panel
2.I use **Command Line Tools** is normal

[2017-11-28 06:12] brunnerh opened #45 "Failed match in getRepoUrl"
- VSCode Version: 1.18.1
- OS Version: Some Arch Linux
- Extension Version: 1.2.0
- System Language: en

There was an error on commit.

    Cannot read property '1' of null

at svn.js:202:22

[code]

Which does seem to make sense, as my repository does not care about conventions and has no trunk, branches or tags.

[2017-11-28 09:57] edgardmessias commented on #45
Can you show a sample URL?

[2017-11-28 10:07] JohnstonCode commented on #44
Hi @JadynWong

Can you update to v1.2.1. This should provide a clearer error message.

[2017-11-28 10:41] #45 closed

[2017-11-28 11:22] edgardmessias commented on #44
The error message: `TypeError: Cannot read property 'fsPath' of undefined`

When you do not select files for commit, show this error.

If you only commit selected files, the problem does not occur

[2017-11-28 12:42] #44 closed

[2017-11-28 15:31] edgardmessias opened #54 "Feature: Support for non standard layouts"
Create option in settings to allow users to define which layout is used.

Example:
[code]

Non Standard:
[code]

[2017-11-28 15:38] JohnstonCode commented on #54
Be sure to pull changes

[2017-11-28 15:45] edgardmessias commented on #54
Yes

[2017-11-28 17:13] edgardmessias commented on #30
Can show an example?

[2017-11-28 17:15] JohnstonCode commented on #30
Just means nested repositories. Currently it only checks one level deep. Just need to add a config vale and run a recursive function to scan folders for to the defined depth

[2017-11-28 19:32] edgardmessias commented on #30
See my branch: https://github.com/edgardmessias/svn-scm/tree/multiple_svn_folders

[2017-11-28 21:18] JohnstonCode commented on #30
Looks good.

I will pull that branch and have a play tomorrow

[2017-11-29 07:48] v4a26 opened #56 "VSCode diff show changes with respect to the latest revision in the repository, not in relation to the local copy."
1.18.1 - VSCode Version:
Windows 7 x64- OS Version:
v1.3.2 - Extension Version:
Russian cp1251- System Language:

Steps to Reproduce:

1. SVN checkout in one place, for example `exampleFolder1` revision 4.
2. SVN checkout in other place, for example `exampleFolder2` revision 4..
3. Do some changes in folder `exampleFolder1`, do not commit.
4. Do some changes in folder `exampleFolder2`, commit them

[2017-11-29 08:03] JohnstonCode commented on #56
By changes mark do you mean the gutter colours? For example the green gutter decoration for new additions.

[2017-11-29 08:36] v4a26 commented on #56
Yes it is. The problem is in local copy was no changes that shown, they came from last revision.

[2017-11-29 08:45] JohnstonCode commented on #56
Yeah it’s set to diff against HEAD. I can change this.

[2017-11-29 09:06] v4a26 commented on #56
May be some people find current situation usefull. Looks like possible new item in options. I'm not sure.

[2017-11-29 09:15] magic-k commented on #56
When i have a local copy, i expect the diff to go against the latest version in the current branch (not necessarily HEAD). If there were 10 new revisions since my last update i expect to see a lot of diffs. Or do i misunderstand the issue?

[2017-11-29 09:40] v4a26 commented on #56
Well, a lot of diffs very unconfortable for me. I expect see my own changes with respect to base revision of my local copy. In that way working tortoiseMerge, which could be called in context menu of file in local copy like `TortoiseSVN -> Diff`.

[2017-11-29 09:42] magic-k commented on #56
I see it like @v4a26. These are two use cases, diff against current revision and diff against head. How does git handle this?

[2017-11-29 10:05] edgardmessias commented on #30
Idea: option to skip some directories (Ex.: node_modules, vendor)

[2017-11-29 10:14] Arwalk commented on #56
Considering both behaviours appeal to different public (i enjoy seeing the diff against head, it incites me to svn up early and merge earlier anything that could conflict later in my env), it probably could be a good idea to make it a user setting?

Just throwing my two cents in the discussion.

[2017-11-29 10:23] edgardmessias commented on #56
After merge #55, I can start working to have option

[2017-11-29 10:53] JohnstonCode commented on #30
Yes skipping those folders would speed things up a lot.

[2017-11-29 10:54] JohnstonCode commented on #56
@edgardmessias  yeah lets config this.

[2017-11-29 11:04] JohnstonCode opened #57 "Add confirm to revert command"
- VSCode Version:1.18.1
- OS Version:Fedora 25
- Extension Version:1.3.2
- System Language:English

Probably should add a confirm to the revert command to avoid accidents.

[2017-11-29 11:34] JohnstonCode opened #58 "Conflicted files dont show properly in source control view"
- VSCode Version:1.18.1
- OS Version:Fedora 25
- Extension Version:1.3.2
- System Language:English

Steps to Reproduce:

1. Have a conflicted file in the repository.
2. Look at source control view
3. In changes, file is missing the conflicted icon
4. In not tracked the conflict files are shown

For example defaults.conf is missing icons in changes and in not tracked the following are listed.
defau

[2017-11-29 13:07] #54 closed

[2017-11-29 13:27] edgardmessias commented on #56
Working

[2017-11-29 13:54] edgardmessias commented on #56
Done.

[2017-11-29 14:11] JohnstonCode commented on #56
Looks good. Send a PR

[2017-11-29 15:15] edgardmessias commented on #56
Ok.

[2017-11-29 15:23] #56 closed

[2017-11-29 16:33] #58 closed

[2017-11-29 16:45] #57 closed

[2017-11-29 17:10] edgardmessias commented on #30
I'm doing some tests with the option to ignore.

[2017-11-29 18:40] edgardmessias commented on #30
Done

[2017-11-29 18:42] #30 closed

[2017-12-01 08:03] zhouqiulin opened #64 "can't refresh!"
- VSCode Version:
- OS Version:
- Extension Version:
- System Language:

Steps to Reproduce:

1.
2.

[2017-12-01 09:18] JohnstonCode commented on #64
Can I have any more information?

[2017-12-01 09:37] zhouqiulin commented on #64
When I run 'svn:refresh' the vscode seems do nothing and have no any messeage.

[2017-12-01 09:42] JohnstonCode commented on #64
The refresh command doesnt you any messages.

It is just there to update the source control view.

[2017-12-01 09:50] zhouqiulin commented on #64
But can't get changed source by my colleague
Do confirm my colleague have commitd the source

[2017-12-01 09:51] edgardmessias commented on #64
Fixed by #63

[2017-12-01 09:56] JohnstonCode commented on #64
I'll do a release now

[2017-12-01 10:00] JohnstonCode commented on #64
live now v1.4.0

[2017-12-01 10:00] #64 closed

[2017-12-04 08:48] s-martin opened #67 "Error: "Unable to update", if nothing to update"
- VSCode Version: 1.18.1
- OS Version: CentOS 7.4
- Extension Version: 1.4.0
- System Language: DE

Steps to Reproduce:

1. Open directory with clean workspace and unchanged repo
2. Select "Svn update"
3. Error message "Unable to update" occurs

I think this message is a little bit misleading.

[2017-12-04 08:49] s-martin commented on #34
In addition, I'd like to see the revision of a file at least in the SCM view

[2017-12-04 08:53] s-martin opened #68 "Feature Request: Add files/directories to svn:ignore"
It would be helpful, if files/directories could be ignored.
Low prio, but still.

This could be part of a bigger feature "Support svn:properties".

[2017-12-04 09:33] JohnstonCode commented on #67
Yeah that does sounds misleading. I'm trying to replace all the generic error messages with something a bit more accurate.

[2017-12-04 09:54] JohnstonCode commented on #67
can you copy and paste the console error message you get when you try to update please.

[2017-12-04 12:24] s-martin commented on #67
It's just "Error: Unable to update" in the top message box (no idea how this is called in VSCode).

In the output window I just see `svn update`

[2017-12-04 12:28] JohnstonCode commented on #67
if you view the command pallet and search and click on "toggle developer tools" and go to the console what do you get?

[2017-12-04 12:31] s-martin commented on #67
Hope this helps:

[code]

[2017-12-04 12:33] JohnstonCode commented on #67
Yeah that's what i'm after. Thank you.

[2017-12-04 12:34] JohnstonCode commented on #67
@s-martin im guessing if you run "svn update" in the command line the result comes back in German?

[2017-12-04 12:36] s-martin commented on #67
Negative.

[code]

[2017-12-04 12:47] JohnstonCode commented on #67
Just updated to v1.4.1 have a try with that and see if you get the same problem

[2017-12-04 17:04] Guema opened #69 "Source control doesn't display anything when working in a svn rep subfolder."
- VSCode Version: 1.18.1
- OS Version: Win7 x86
- Extension Version: 1.4.1
- System Language:

Don't know exactly if it is intended or not, but since last version (1.4.1), i'm unable to see source control :

Im working on a multi-languages project, and used to only open the folder where i work, which is a actually a subfolder belonging to a large SVN repository that contains everything.

Worked un

[2017-12-04 17:39] JohnstonCode commented on #69
Thanks for raising this.

I'll look into it.

[2017-12-04 17:39] edgardmessias commented on #69
@JohnstonCode, I will fix it.

[2017-12-04 17:41] edgardmessias commented on #69
We need to create a lock, for when it is not the root of the trunk, branch or tag, to not allow switch branch

[2017-12-04 17:49] JohnstonCode commented on #69
Yes we do. This current issue is caused by the check on [this line](https://github.com/JohnstonCode/svn-scm/blob/master/src/model.ts#L187)

[2017-12-04 17:50] edgardmessias commented on #69
I'm updating for it to check the top folders

[2017-12-04 17:51] JohnstonCode commented on #69
Opening in a subfolder does also stop the switch branch from working. Doesn't throw any errors as well.

[2017-12-04 17:56] edgardmessias commented on #69
Fixed.

[2017-12-04 18:08] #69 closed

[2017-12-04 18:09] JohnstonCode opened #71 "branch switchnig doesnt work if not in root of repo"
- VSCode Version:1.18.1
- OS Version:Fedora 26
- Extension Version:1.4.1
- System Language:EN

Steps to Reproduce:

1.Open folder within svn repo
2. switch branch does nothing but causes conflicts

[2017-12-04 18:10] JohnstonCode commented on #71
@edgardmessias any suggestions?

[2017-12-04 18:12] edgardmessias commented on #71
Two suggestions:
* Display alert if not root
* Make switch within subfolder (Ex.: trunk/my/folder -> branches/test/my/folder)

[2017-12-04 18:15] JohnstonCode commented on #71
what about a check to see if the folder exists in the branch we are switching to. If not show an error message?

[2017-12-04 18:16] edgardmessias commented on #71
Yes, like this: https://github.com/JohnstonCode/svn-scm/blob/9c2b975802ece12e6b463db5b9139f03d27b4f7e/src/svnRepository.ts#L113

[2017-12-04 18:27] JohnstonCode commented on #71
yes. Ill quickly do this.

[2017-12-04 18:46] JohnstonCode commented on #71
Think this was a simpler solution what do you think?

[Link](https://github.com/JohnstonCode/svn-scm/commit/12879e5692eb906a354a9381ccac759548178930)

[2017-12-04 19:03] edgardmessias commented on #71
Nice

[2017-12-04 19:04] #71 closed

[2017-12-04 19:06] #67 closed

[2017-12-04 22:07] Guema commented on #69
Thanks and good job for this really fast fix !

[2017-12-05 07:05] s-martin commented on #67
1.4.3:
Now I get Info with the revision. Works for me, thanks!

[2017-12-05 13:21] edgardmessias opened #74 "TASK: Create tests"
Create unit tests, this will help us avoid problems.

See the link: https://code.visualstudio.com/docs/extensions/testing-extensions

- [x] Create init tests
- [x] Add to Travis-CI
- [x] Add to AppVeyor-CI
- [x] Add style check
- [x] Add Code Analysis
- [x] Write unit tests

[2017-12-05 14:05] JohnstonCode commented on #74
Yes, testing would help a lot.

[2017-12-05 14:08] JohnstonCode commented on #74
Tests will also make CI possible

[2017-12-05 16:34] JohnstonCode commented on #74
@edgardmessias  Travis CI is setup and the first build passed.

[2017-12-05 16:36] edgardmessias commented on #74
Nice!

[2017-12-05 16:57] JohnstonCode commented on #74
Iv added a prettier style guide check to Travis CI

[2017-12-05 17:06] edgardmessias commented on #74
Maybe, we can use a https://coveralls.io/, https://codeclimate.com/, https://scrutinizer-ci.com/, ....

[2017-12-05 17:18] JohnstonCode commented on #74
[codacy](https://www.codacy.com/)?

[2017-12-05 17:32] JohnstonCode opened #77 "clean up all the errors in ts complier after npm update"
Steps to Reproduce:

1. run npm update
2. see all the errors

[2017-12-05 17:58] edgardmessias commented on #77
Fixed

[2017-12-05 18:00] edgardmessias commented on #74
Also good

[2017-12-05 18:09] edgardmessias commented on #74
https://codecov.io/ - Example: https://github.com/codecov/example-typescript-vscode-extension

[2017-12-05 18:13] #77 closed

[2017-12-05 18:25] JohnstonCode commented on #74
Added the codecov stuff not sure how it works

[2017-12-05 18:37] edgardmessias commented on #74
Let's use codacy for now

Can you reverse those changes?

[2017-12-05 18:44] JohnstonCode commented on #74
reverted

[2017-12-05 18:47] TheThirdRace opened #79 "Tortoise SVN diff/merge tool in VSCode"
- VSCode Version: 1.18.1
- OS Version: Window 10 64bit (fall creator update)
- Extension Version: 1.4.5
- System Language: English

Hi,

I can't make the SVN plugin to use the Tortoise SVN diff/merge tools instead of the default ones from the SVN plugin.

I have both **_Visual Studio 2017_** and **_VSCode_** installed, so I reference both to make sure there's no confusion.

I have the VisualSVN ex

[2017-12-05 18:49] s-martin commented on #79
Using custom diff tools is currently not supported.

[2017-12-05 18:51] edgardmessias commented on #79
You can try this: https://marketplace.visualstudio.com/items?itemName=fantasytyx.tortoise-svn

[2017-12-05 18:51] TheThirdRace commented on #79
I'm a bit confused... the 2nd paragraph in the Readme says this:

[2017-12-05 18:56] s-martin commented on #79
TortoiseSVN *Command Line Tools* (not the GUI) provide the SVN executable, which is used by the extension.
You could use any other svn executable, but TortoiseSVN is the most popular under Windows.

At the moment there's no support for custom diff tools.

[2017-12-05 18:57] TheThirdRace commented on #79
A million thanks for the explanation!

[2017-12-05 18:57] #79 closed

[2017-12-05 19:22] JohnstonCode commented on #74
Added a tslint file for code style. This may need tweaking.

[2017-12-05 19:25] edgardmessias commented on #74
See the project: https://github.com/vscode-icons/vscode-icons, We can use it as a base

[2017-12-05 19:29] JohnstonCode commented on #74
copied that. You can tweak as needed. I'm not fussed by style guides as long as we all stick to one.

[2017-12-05 19:33] edgardmessias commented on #74
We can use the codecov and bithound from vscode-icons

[2017-12-05 19:37] JohnstonCode commented on #74
Okay ill have a look tomorrow

[2017-12-06 13:03] edgardmessias commented on #74
CodeCov Working

[2017-12-06 13:11] JohnstonCode commented on #74
Thanks for that. You adding appvoyer or should i?

[2017-12-06 13:12] edgardmessias commented on #74
You can add AppVoyer

[2017-12-06 13:31] JohnstonCode commented on #74
AppVoyer added and working

[2017-12-07 16:09] edgardmessias commented on #74
@JohnstonCode, We now need to break the code into smaller parts so we can test

[2017-12-07 16:25] JohnstonCode commented on #74
@edgardmessias what would you suggest we break apart?

I'm still not 100% on how we can test the extension fully. We might need to make some scripts that create a test Svn repository. I know the Mg SCM uses Powershell scripts to test.

[2017-12-07 16:34] JohnstonCode commented on #74
Yes nice and simple.

We will need to script the creation of local repositories so they can run on Travis and AppVoyer.

I can write a PowerShell and bash script for that.

[2017-12-07 16:37] edgardmessias commented on #74
First: create an XML parser
Second: Status Parser
Third: Command builder for cp.spawn

[2017-12-07 16:42] JohnstonCode commented on #74
The command builder is just [this function](https://github.com/JohnstonCode/svn-scm/blob/master/src/svn.ts#L114)

Status parser is [this function](https://github.com/JohnstonCode/svn-scm/blob/master/src/svnRepository.ts#L11)

XML stuff does need grouping

[2017-12-07 16:49] edgardmessias commented on #74
Add in Status parser: https://github.com/JohnstonCode/svn-scm/blob/6d9f1f337f1023d57671127f84eedad64d6d06b1/src/repository.ts#L137

[2017-12-07 17:04] JohnstonCode commented on #74
Think that should be left separate but also separating. StatusAssigner maybe?

[2017-12-07 17:12] edgardmessias commented on #74
Good

[2017-12-07 17:14] JohnstonCode commented on #74
Also, think anything we are working on making an issue so no work is duplicated

[2017-12-07 17:16] JohnstonCode opened #81 "Create bash and powershell script"
Need to create a bash and powershell script to create a local repository for Travis and AppVoyer.

[2017-12-07 17:23] edgardmessias commented on #81
Must have two versions for testing, for example, a SVN 1.6 and 1.8

[2017-12-08 10:30] magic-k opened #82 "Diff in UTF-8 nonenglish text"
- VSCode Version: 1.18.1
- OS Version: Ubuntu 16.4
- Extension Version: 1.4.5
- System Language:german

Steps to Reproduce:

1. Open an unchanged UTF-8 file with Umlauts
2. See the decoration for a diff
3. Open diff or diff to head

![image](https://user-images.githubusercontent.com/12908034/33761782-8a5d0016-dc0a-11e7-84ba-a3c078c24b16.png)

The file above is unchanged, local and remote file are

[2017-12-08 15:18] JohnstonCode commented on #82
Can you send me that line of code please?

[2017-12-08 16:12] magic-k commented on #82
[test.zip](https://github.com/JohnstonCode/svn-scm/files/1543177/test.zip)
Hope it works. charsets are a tricky thing.

[2017-12-08 16:28] JohnstonCode commented on #82
Yeah they are a pain

[2017-12-12 13:02] yuval-gilboa opened #83 "Problems with multi-project workspace"
- VSCode Version: 1.18.1
- OS Version: Windows 7
- Extension Version: 1.4.5
- System Language: English

Steps to Reproduce:

1. Open a multi-project workspace
2. Make changes to the first project - changes are recognized correctly
3. Make changes to the second project - changes are ignored

Seems like the extension only recognizes the first project in a multi-project workspace.

[2017-12-12 13:03] edgardmessias commented on #83
Structure of the folders?

[2017-12-12 13:14] yuval-gilboa commented on #83
The structure is a pair of sibling projects under common root folder. Both projects are pure typescript projects with separate tsconfig.json, etc. The workspace file is under the .vscode folder of the first project:

[code]

This is how the myapp.code-workspace looks like:

[code]

[2017-12-12 14:32] magic-k commented on #82
Just for completeness i did a change in the file (added öäü) and this is what svn cmdline says:
-         nachricht = nachricht +"FAIL,<Keine Datensätze> \r\n";
+         nachricht = nachricht +"FAIL,<Keine Datensätzeöäü> \r\n";

[2017-12-13 20:29] agluck3 opened #84 "commit message list"
I would love to see either a commit message list or have it save the most recent commit message. :D

[2017-12-14 00:59] Zeddicus414ce opened #85 "Official python extension with pylint runs on duplicate SVN files"
To start, I love the work you guys are doing! Excellent SVN package so far, thank you!

The problem: Pylint is wanting to lint svn files... So the warnings, etc are printed twice for every file.
![image](https://user-images.githubusercontent.com/31261142/33970119-d830696a-e036-11e7-96c9-64aa2a451e5b.png)

I'm asking you guys for help since you might know what's up. It seems that the python extensi

[2017-12-14 10:57] luboslav opened #86 "Open diff view after clicking on modified file"
- VSCode Version: 1.18.1
- OS Version: Windows 10
- Extension Version: 1.4.5
- System Language:

If you click on file (with Modified flag) in changes list it should open diff view.

[2017-12-14 12:13] JohnstonCode commented on #86
If you right-click on it you will get the option to diff against the head.

[2017-12-14 18:15] JohnstonCode commented on #85
Thanks for raising this. I will look into it and sort something out.

[2017-12-15 07:09] luboslav commented on #86
I know about that option. I was referring to git default behavior.

[2017-12-15 19:00] edgardmessias commented on #81
@JohnstonCode, see the #87

[2017-12-16 09:16] JohnstonCode commented on #81
Can be done through #87

[2017-12-16 09:16] #81 closed

[2017-12-16 10:07] JohnstonCode commented on #85
Seem the issue is with this line in the python extension

https://github.com/DonJayamanne/pythonVSCode/blob/c8db3459563964dfc6a06188e46a14f010221d69/src/client/providers/lintProvider.ts#L25

The Uri schemas to ignore are hard coded.

I will create a PR to have it added as a config option

[2017-12-18 10:16] #3 closed

[2017-12-18 10:34] #82 closed

[2017-12-18 10:35] JohnstonCode commented on #82
Bases on the sample you sent 1.4.6 fixes the issue.

Let me know if you have any further issues like this

[2017-12-19 09:49] magic-k commented on #83
I have this issue with two sub directories of one svn repo.

svn.xxx.de/root/Project/project1
                                      project2

I put project1 and project2 into a workspace (the path is deeper  and contains more subprojects so i didn't want to use Project directly)
Only one of the projects is shown in SVN-Explorer.

[2017-12-19 09:54] edgardmessias commented on #83
@magic-k, can show example? You use ignored folder?

[2017-12-19 10:25] magic-k commented on #83
I don't use svn ignore if that's what you mean.
It's a production system so examples are difficult, but i try:
This is the base
omp@Reperso:/mnt/devel/omp/project/Reperso$ svn info
Pfad: .
Wurzelpfad der Arbeitskopie: /mnt/devel/company/project/XXXX
URL: http://svn.company.de/svn/XXXX
Relative URL: ^/
Basis des Projektarchivs: http://svn.company.de/svn/XXXX
UUID des Projektarchivs: be9021b7-ebdc-4

[2017-12-19 17:52] JohnstonCode commented on #85
The changes have been merged in the python extension. Not sure when it will be rolled out tho.

[2017-12-19 17:52] #85 closed

[2017-12-19 18:41] Zeddicus414ce commented on #85
@JohnstonCode , thanks so much for the timely and helpful work. I'm looking forward to using your extension without the pylint troubles!

[2017-12-19 22:39] rwatts3 opened #88 "Feature Request : Apply/Create Patch"
Greetings,

First and foremost great work with the project.
Would it be possible to implement creating and applying a patch?
I would be happy to contribute, but will need some pointers as to where is the best place to start.

[2017-12-20 09:44] emptyVoid opened #89 "Extension doesnt work with auth"
- VSCode Version: 1.19.0
- OS Version: Ubuntu 16.04
- Extension Version: 1.4.6
- System Language: English (US)

Seeing this every time I launch VSCode:
[code]

Please note, the errors disappear after I manually execute `svn up` in the working copy.

[2017-12-20 09:49] JohnstonCode commented on #89
Does your Svn repo require a username and pass?

[2017-12-20 11:10] emptyVoid commented on #89
It does, though the credentials are in the Ubuntu's login keyring, the keyring is unlocked (blank password). And `svn up` does not ask for them when executed from terminal.

[2017-12-20 11:14] JohnstonCode commented on #89
I think because it still will be asking for it even if it is blank.

I will need to add auth a setting to the extension to get this to work for you without having to do the "svn up" first.

[2017-12-20 11:22] JohnstonCode commented on #88
Hi @rwatts3

That is something that could be added.

If you would like to contribute I would suggest forking the repo and run it in VS Code in debug mode.

The main parts of the extension live in the svn, svnRepository, commands, and repository files.

If you have any more questions just let me know.

[2017-12-20 20:01] rwatts3 commented on #88
Awesome, i'll take a crack at it.

[2017-12-20 21:57] babujan opened #90 "svn folder settings"
In the Output log of svn, I see that it is trying to automatically scan(svn ls) /branches, /tags, /trunk however the folder structure of the repo that I am working on does not follow that pattern, is there a way to configure the svn url for these? ie for the project I am currently working on the trunk folder is the project name, branches folder is call feature and tags folder is name Release.

[2017-12-20 22:01] rwatts3 commented on #88
@JohnstonCode
just submitted a pr for the patch #91

[2017-12-21 09:14] yoram-s opened #92 "jump to next diff occurance"
- VSCode Version:
Version 1.19.0
Commit 816be6780ca8bd0ab80314e11478c48c70d09383
Date 2017-12-14T12:06:43.492Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64
- OS Version: Win10
- Extension Version: 1.4.6
- System Language:

When opening a diff view, how can we jump to the next diff occurance when multiple ones exist in the file

[2017-12-21 15:17] JohnstonCode commented on #90
Hi @babujan

You can edit the setting in VS Code to set the svn.layout.branches, svn.layout.tags and svn.layout.trunk to what you need them to be. Just search for "svn" in the settings menu

[2017-12-21 15:17] #90 closed

[2017-12-21 15:25] JohnstonCode commented on #92
There isn't a way to navigate through on the diff view that I am aware of. This is all handled by VS code.

You can navigate through diffs in the file directly by clicking on the diff colour in the gutter.

[2017-12-21 15:25] #92 closed

[2017-12-21 15:38] #88 closed

[2017-12-22 19:37] sushruth opened #93 "SVN update fails when authentication is needed"
- VSCode Version: 1.19.1
- OS Version: OSX Sierra
- Extension Version: 1.5.0
- System Language: English ?
----
#### Issue

SVN Update fails when authentication is required. However, it runs fine in terminal.

----

Steps to Reproduce:

1. Click on "SVN update" from source control

[code]

[2017-12-22 20:52] JohnstonCode commented on #93
Hi @sushruth

Thanks for raising this. This is a dupe of #89 and somethnig i am working on

[2017-12-22 20:52] #93 closed

[2017-12-27 18:04] IndrekHaav opened #94 "Commit selected should be default behaviour"
Perhaps it's just me, but committing all changed files by default seems somewhat inadvisable. If any files are selected, the default behaviour should be to commit only those files.

[2017-12-27 18:19] JohnstonCode commented on #94
Hi @IndrekHaav

Thanks for raising an issue.

Unfortionalty the SCM input box has no way to track which changes are selected. As it originally was designed for GIT use.

There is a right click option to commit selected.

[2017-12-27 18:19] #94 closed

[2017-12-28 11:49] v4a26 commented on #9
@JohnstonCode For a while everything was fine, but right now I have a similar problem.

1.19.1 - VSCode Version:
Windows 7 - OS Version:
1.5.0 - Extension Version:
Russian; CP1251 - System Language:

The problem is similar to the topic. Gutter show that there are some changes in lines with Russian letters.

In my working repository, only a few characters cause problems. They marked bold in an exam

[2018-01-02 09:38] shaman-apprentice opened #95 "Feature request multiple change lists"
Support for multiple change lists would be nice.

Concrete I have the following "issue". Sometimes I change some config files like server-address or so for developing / debugging. For preventing me of accidentally committing these file, I have a change list "dont commit", where I put those changes in, which I like a lot...

[2018-01-02 10:10] JohnstonCode commented on #95
Hi @shaman-apprentice

This is a good suggestion. However, this will require quite a bit of work to implement.

This is something I can look at after I have cleaned up the other issues or another contributor can look at.

[2018-01-02 10:11] JohnstonCode commented on #9
@v4a26 encoding seems to be a reoccurring pain point.

I will have to think of another way to get it work check/work

[2018-01-11 10:05] flavior121 opened #97 "External folders shown as unversioned"
- VSCode Version: 1.19
- OS Version: Windows 10
- Extension Version: 1.5.0
- System Language: PT

My working copy is made out of different subdirectories using Externals. The problem is that all external folders are shown as unversioned.

[2018-01-11 10:16] JohnstonCode commented on #97
Hi @flavior121,

Thanks for raising this. Externals are something that I didn't think about when creating the extension. I will have a look and fix this for you soon.

[2018-01-11 10:32] flavior121 commented on #97
@JohnstonCode Thanks
This is off-topic but can you add an option to ignore a list of files too?

[2018-01-11 10:36] JohnstonCode commented on #83
@yuval-gilboa @magic-k

I am having issues replicating your issue completely.

I have two separate SVN project open and when I make changes to one of them is doesn't update the SCM view. But if I click the refresh arrow it detects the changes.

Is this what you are seeing?

[2018-01-11 10:39] JohnstonCode commented on #97
@flavior121

You mean something separate from svn itself? Like a .gitignore file?

[2018-01-11 10:43] JohnstonCode commented on #84
@agluck3

Would you be looking for something like the results of "svn log"?

[2018-01-11 10:46] JohnstonCode commented on #68
@s-martin

What other svn:properties would be useful?

[2018-01-11 10:49] magic-k commented on #83
I have one svn project open and i see changes in SCM-view. Then i add a second project, thus creating a workspace. I do changes in the second but i never see them in the SCM-pane no matter how often i refresh. When i remove the first project from the workspace, i immediately see the changes from the second project.

[2018-01-11 10:59] JohnstonCode commented on #83
What version of the extension are you currently running on?

Also, do you get anything in the svn output channel?

[2018-01-11 11:02] JohnstonCode opened #98 "No rate limiting on svn cat for the quickdiffprovider"
- VSCode Version:1.19.2
- OS Version:F25
- Extension Version:1.5.0
- System Language:EN

Steps to Reproduce:

1. Open svn output channel
2. switch between two tabs

[2018-01-11 11:05] magic-k commented on #83
I'm running 1.5.0. I see normal output in the first project and none when i add the second. I guess the main problem seems to be that these are two subdirs from one svn repo.

svn repo is e.g. project1, folders in the workspace are project1/subproject1 and project1/subproject2. With two completely unrelated repos i see both in the SCM view.

[2018-01-11 11:08] edgardmessias commented on #83
Which folders contains the ".svn" folder

[2018-01-11 11:09] flavior121 commented on #97
@JohnstonCode
I mean something like TortoiseSVN "ignore-on-commit" feature.

[2018-01-11 11:12] JohnstonCode commented on #83
@magic-k

I Have been able to replicate this now.

@edgardmessias  neither. If you have an svn repo and 2 folders in the root. Opening them both separately breaks SCM view

[2018-01-11 11:17] JohnstonCode opened #99 "TortoiseSVN "ignore-on-commit" feature"
This requires changelist implementation to work.

[Docs here](https://tortoisesvn.net/docs/release/TortoiseSVN_en/tsvn-dug-commit.html)

[2018-01-11 11:17] JohnstonCode commented on #97
Thanks for that. TortoiseSVN uses a changelist for the functionality. Changelist is a feature request but I have not had time to look into.

Once it is implemented I will look into adding that feature.

I will open a new issue to keep track of this. #99

[2018-01-11 11:55] JohnstonCode commented on #83
@edgardmessias

 [This line is causing the issue](https://github.com/JohnstonCode/svn-scm/blob/master/src/model.ts#L155)

The repository is already open so it never sets up the second folder.

[2018-01-11 12:10] edgardmessias commented on #83
The problem is root of ".svn".

With SVN 1.6, works, because each folder has a ".svn" folder

[2018-01-11 12:11] edgardmessias commented on #83
If checkout two folder, and, each folder has ".svn" folder, works perfect.

[2018-01-11 12:15] JohnstonCode commented on #83
With two svn projects with their own .svn folders in the root it works.

But if you have an svn project and open two nested folders it doesn't work.

[2018-01-11 12:20] s-martin commented on #68
For me relevant would be (priority from high to low):

1. EOL
2. Executable
3. Externals

I don't use other properties, so i have no preferences.

[2018-01-11 12:35] JohnstonCode commented on #68
Thanks for that.

[2018-01-11 16:01] Faust90 opened #100 "Deleted or moved files shown as missing, cannot commit refactor"
- VSCode Version : 1.19.2
- OS Version: Ubuntu 17.10
- Extension Version:1.5.0
- System Language: English

Steps to Reproduce:

1. Remove file from filesystem
2. Look at change list

[2018-01-11 16:26] JohnstonCode commented on #100
Hi @Faust90

Thanks for raising this. I have had the same issue today. Seems svn needs to be told that the files have been deleted.

I could add a right click option to files in the source control view to "Delete Selected" and also a command to delete all missing.

[2018-01-11 16:26] JohnstonCode commented on #100
In the meantime you could run "svn status | grep '^!' | awk '{print $2}' | xargs svn delete"

[2018-01-12 11:39] JohnstonCode commented on #83
Currently, only one instance of a repository can be used.

This is because before workspaces everything was just modeled on repositories. Everything could now be modeled on workspaces but what do we do with nested repositories within these workspaces?

How are they cleaned up with the removal of a workspace?

Is the work actually worth it for the sake of opening multiple folders in the same reposi

[2018-01-12 11:54] JohnstonCode commented on #97
@flavior121

Can you show the output of svn stat in the root of your project? Please replace any private information with 0's

[2018-01-12 12:27] JohnstonCode commented on #98
Caching would hog too much memory.

[2018-01-12 12:27] #98 closed

[2018-01-16 13:28] sexybiggetje opened #102 "Ignore files in Source Control View based on exclude patterns defined in files.exclude setting"
- VSCode Version: 1.20.0-inside
- OS Version: Windows 10.0.150.63
- Extension Version: 1.5.0
- System Language: nl_NL (Dutch, Nederlands)

In my settings file, I've configured files.exclude and search.exclude to ignore certain patterns. These matching files and folders however are not ignored in the Source Control View. For example, at the office we have /dist/ and /bower_components/ in Subversion

[2018-01-16 13:39] JohnstonCode commented on #102
@sexybiggetje

Thanks for creating an issue. This is something that could be added to the extension settings.

[2018-01-17 13:53] edgardmessias commented on #82
@JohnstonCode , you can test my branch: https://github.com/edgardmessias/svn-scm/tree/fix_diff_utf8 ?

[2018-01-17 14:02] JohnstonCode commented on #82
Yeah sure give me 5 minutes.

[2018-01-17 18:26] JoeKazz opened #104 "Can't Get it to work at all."
- VSCode Version: 1.19.2
- OS Version: Window 10.
- Extension Version: 1.5.0
- System Language: C#

Steps to Reproduce:

1. Even after installing I get "There are no active source control providers" in Source Control
2. So...how do I use it? (For instance....how do I do a simple diff?)

I don't see any interface instructions or anything looking different.
What am I missing?
(PS...I have TortoiseSV

[2018-01-17 18:38] JohnstonCode commented on #104
if you open the output window and select svn what do you see?

[2018-01-17 18:43] JoeKazz commented on #104
Using svn 1.9.7 (r1800392) from C:\Program Files\TortoiseSVN\bin\svn.exe

[2018-01-17 18:43] JoeKazz commented on #104
So that's hopeful I guess.

[2018-01-17 18:44] JohnstonCode commented on #104
Yes means its finding svn at least

[2018-01-17 18:44] JoeKazz commented on #104
Yes.

[2018-01-17 18:45] JoeKazz commented on #104
I just don't know what it's supposed to be doing. What I care most about....is being able to do a diff....without jumping to explorer.

[2018-01-17 18:48] JoeKazz commented on #104
I'll make sure of that...but I believe so.

[2018-01-17 18:49] JoeKazz commented on #104
Ok...now I got a bunch of stuff...showing up in log.
Using svn 1.9.7 (r1800392) from C:\Program Files\TortoiseSVN\bin\svn.exe
[]$ svn info --xml
[]$ svn info --xml
[Scripts]$ svn info --xml
[]$ svn stat
[]$ svn ls file:///D:/SVN_Unity/trunk --depth empty
[]$ svn ls file:///D:/SVN_Unity/branches
[]$ svn ls file:///D:/SVN_Unity/tags
[Scripts]$ svn info --xml
svn: warning: W160013: URL 'file:///D:/SV

[2018-01-17 18:50] JoeKazz commented on #104
Probably because I'm not a typical SVN user. I don't Branch.

[2018-01-17 18:51] JoeKazz commented on #104
(I don't branch of merge).
Thanks for your help....I'll play around with this for a bit....and see what I can do with these warnings.

[2018-01-17 18:53] JoeKazz commented on #104
Seeing Diff Lines now...(so this is hopeful) (Even with the warnings).

[2018-01-17 18:54] JohnstonCode commented on #104
Okay, To get those warning to go away just set the root path of your repository as the path for trunk, branches and tags in the settings

[2018-01-17 18:54] #104 closed

[2018-01-17 18:58] JoeKazz commented on #104
The Diff lines...(and the Errors...don't always show up)....

[2018-01-17 18:58] JoeKazz commented on #104
I can't figure out....what makes it "kick-off"....and start working per editing session.

[2018-01-17 18:59] JoeKazz commented on #104
Like right now...it's only got the Using svn message.

[2018-01-17 18:59] JoeKazz commented on #104
Now it's finally doing the "info"

[2018-01-17 19:02] JoeKazz commented on #104
But nothing else....no warnings (this time)...and no change lines.

[2018-01-17 19:04] JoeKazz opened #105 "You closed...before I was really done..."
- VSCode Version:
- OS Version:
- Extension Version:
- System Language:

Steps to Reproduce:

It's now only showing "Using svn...." and an "info" the change lines seem to be intermittent at best. (And it didn't show the warnings this time. Seems to change everytime I pop in and out of VSCode.

[2018-01-17 19:05] JoeKazz commented on #105
I'll play around with it...and get back to you...if I figure anything else out about it.

[2018-01-17 19:05] JoeKazz commented on #105
Are there instructions anywhere...for how do do the "Quick Diff" in cutter for instance.

[2018-01-17 19:14] JohnstonCode commented on #105
You can re-open issues.

The quick diff will only work if vs code sees changes against whats in the file and the copy in the repository.

There isn't much documentation on them. [Here is the info VS Code has](https://code.visualstudio.com/docs/editor/versioncontrol#_gutter-indicators)

[2018-01-17 19:14] JohnstonCode commented on #105
I think the extension is having issues with your Svn repository layout

[2018-01-18 16:03] edgardmessias commented on #83
I working for solution

[2018-01-18 17:32] edgardmessias commented on #83
Done, make tests;

[2018-01-18 18:25] #83 closed

[2018-01-18 18:44] #9 closed

[2018-01-18 18:48] #105 closed

[2018-01-19 08:07] #102 closed

[2018-01-19 08:12] JohnstonCode commented on #102
This has been added in 1.6.0

edit the "svn.multipleFolders.ignore" setting.

[2018-01-19 10:13] sexybiggetje commented on #102
Thanks, works great!

[2018-01-19 12:35] edgardmessias commented on #95
See http://svnbook.red-bean.com/nightly/en/svn.advanced.changelists.html

[2018-01-22 16:00] nyan777 opened #111 "Diff Changes Head not work on UNC path"
VSCode Version: 1.19.2
OS Version: Windows 10
Extension Version: 1.6.0
System Language: Japanese

Steps to Reproduce:

1. open project on unc path.
2. show svn file list.
3. right click any file, select "Diff Changes Head".

output like this:

[proj]$ svn cat \web\proj\index.html -r HEAD
svn: E155007: 'C:\web\proj\index.html' is not a working copy

path should be:

\\\\xxx.xxx.xxx.xxx\web\proj\ind

[2018-01-22 17:41] edgardmessias commented on #95
@JohnstonCode, using changelists, we can implement the "stage change like git"

[2018-01-22 18:09] edgardmessias commented on #111
Fixed in #113

[2018-01-22 18:41] edgardmessias commented on #97
@flavior121 @JohnstonCode
What do you prefer:
* Hide from the list everything that is external
* View in a separate list (Like "Externals")

[2018-01-22 18:47] JohnstonCode commented on #95
Yeah thats what tortuise SVN does

[2018-01-22 18:47] #111 closed

[2018-01-22 18:48] JohnstonCode commented on #97
My suggestion would be to hide

[2018-01-22 18:49] edgardmessias commented on #97
I'll create an option and leave the default hidden

[2018-01-22 19:04] edgardmessias commented on #97
Fixed with #114

[2018-01-22 19:07] #97 closed

[2018-01-23 11:05] #100 closed

[2018-01-23 12:42] edgardmessias commented on #68
@JohnstonCode , my sugestion:

Create a unique command (like "SVN Properties") for
* Command Palette (Current File View)
* Explorer Context (One File or Folder)

From command, run the "proplist" and generate a pick list with avaiable properties (Add common properties if not exsists to create)

After select pick, read value of property and create a temporary file, on file save, update the property

[2018-01-23 12:46] edgardmessias commented on #95
@JohnstonCode, we have two options:
* Create some changelists (stage, ignore-on-commit, etc..) and commit only "stage"
* Add ability to user create new changelist (or choose a existent) and on commit choose the changelist

Maybe can close the #99

[2018-01-23 13:02] edgardmessias commented on #84
For readonly data, we can implement the [TextDocumentContentProvider](https://code.visualstudio.com/docs/extensionAPI/vscode-api#_a-nametextdocumentcontentprovideraspan-classcodeitem-id465textdocumentcontentproviderspan)

[2018-01-23 13:12] JohnstonCode commented on #68
@edgardmessias

Yea that sounds like a good idea.

[2018-01-23 13:18] JohnstonCode commented on #95
@edgardmessias

Yeah it will close #99

I think the second option will be the best as it adds more flexibility. We could check for changelists when the extension loads and just add them with the current two. A commit changelist command could also be added. This is so the current commit input box will always commit the changes resource group

[2018-01-23 13:19] JohnstonCode commented on #84
Yeah, i was thinking about using that and having a config option to limit the output as a big project could crash the editor.

[2018-01-23 13:20] edgardmessias commented on #84
Create a config option.

The command example `svn log --limit 10`

[2018-01-23 13:21] JohnstonCode commented on #84
yeah then pull the limit from a config value

[2018-01-23 13:22] JohnstonCode commented on #84
set it to default of 100 or something

[2018-01-23 13:31] edgardmessias commented on #74
To add new tests, open new issue.

[2018-01-23 13:31] #74 closed

[2018-01-24 06:58] ekopei opened #116 "svn commit found error."
- VSCode Version: 1.19.2
- OS Version: win7 x64
- Extension Version:SVN 1.8.0
- System Language: Chinese

error log:
[scrm]$ svn commit -m 1
svn: E155007: 'C:\Program Files\Microsoft VS Code' is not a working copy

[2018-01-24 08:21] s-martin commented on #116
`C:\Program Files\Microsoft VS Code` is probably not a SVN workspace.
Have you opened your SVN workspace?

[2018-01-24 10:06] edgardmessias commented on #116
The file list is empty, you can send a print of your Source Control?

[2018-01-24 18:08] TheDanR opened #117 "Ability to switch to sub SVN branches"
Steps to Reproduce:

1. Have a SVN branch that is two levels down for example Root\level 1\level 2
2. on clicking the svn branch button (botton left) you can only see level 1 branches

[2018-01-25 03:41] ekopei commented on #116
Using svn 1.9.7 (r1800392) from C:\Program Files\TortoiseSVN\bin\svn.exe
[scrm]$ svn info --xml
[scrm]$ svn info --xml
[scrm]$ svn stat --xml
[scrm]$ svn ls http://tc-svn.tencent.com/xybase/mgsystem_proj/trunk --depth empty
[scrm]$ svn ls http://tc-svn.tencent.com/xybase/mgsystem_proj/branches
[scrm]$ svn ls http://tc-svn.tencent.com/xybase/mgsystem_proj/tags
[scrm]$ svn update
[scrm]$ svn stat --

[2018-01-25 09:23] whmmm opened #119 "Where is the 'Mark Resolve' button？"
- VSCode Version:
- OS Version: windows 10
- Extension Version:
- System Language:

[2018-01-26 09:15] Guema commented on #99
Do you plan to add a third category ?
like :
"CHANGES"
"NOT TRACKED"
"IGNORE ON COMMIT"

I would make good use of it, personally, i think this is a good feature.
Could be interesting to make categories collapsible, also, but i think it's not a priority.

[2018-01-26 09:28] JohnstonCode commented on #99
Just waiting on changelist implementation for this to work.

Not sure that SCM groups can be collapsable

[2018-01-26 10:26] edgardmessias commented on #117
Unlike GIT, branches in SVN are very complex.

[2018-01-26 10:49] edgardmessias commented on #116
@ekopei, you are using "Command Palette" to commit?

[2018-01-27 17:10] #95 closed

[2018-01-29 11:39] pawellan13 commented on #117
I change the branche using tortoises :(

[2018-01-29 13:54] #99 closed

[2018-01-29 14:52] jamesmikesell opened #125 ""Offline" diff of modifications compared to original checked out state."
- VSCode Version: `1.19.2`
- OS Version: `Win 10` and `OSX High Sierra`
- Extension Version: `1.8.0`
- System Language: `English`

Not sure if this is a bug report, feature request, user error, or gap in documentation.

Is there a way when offline (or more likely, not VPNed into the network that hosts the SVN repository) to see a diff of modifications compared to the original checked out state of

[2018-01-29 15:21] edgardmessias commented on #125
You can set `svn.diff.withHead` to false to compare with local.

[2018-01-29 15:38] jamesmikesell commented on #125
That's it!

Thanks!

[2018-01-29 15:39] #125 closed

[2018-01-29 17:00] jamesmikesell commented on #86
Agreed, i prefer the default behavior that GIT does in VS Code, where if you're viewing the source control panel, clicking a file automatically opens up the diff viewer.

Obviously, GIT doesnt' show you the diff when you open a file from the "Explorer" panel, just the source control panel.

[2018-01-29 17:04] JohnstonCode commented on #86
Think this more of a personal preference issue.

I will add it as a setting.

[2018-01-31 08:13] lapo-luchini opened #126 "Only access the server on explicit request"
- VSCode Version: 1.17.2
- OS Version: FreeBSD 11.1
- Extension Version: 1.9.0
- System Language: Italian

Steps to Reproduce:
1. open VSCode
2. open directory with SVN checkout
3. wait a bit (doing nothing SVN-related)
4. an SSH agent pop-up appears to ask for password

I also tried `"svn.diff.withHead": false` but it still happens.

I'd prefer for the plugin to stick to locally available data un

[2018-01-31 09:25] JohnstonCode commented on #126
Do you know what command is running?

I suspect it is svn cat

[2018-01-31 09:45] edgardmessias commented on #86
I can work on it.

[2018-01-31 10:31] lapo-luchini commented on #126
Not yet, I'm fairly new to VSCode and I didn't learn how to debug extension yet. I shall.

[2018-01-31 10:33] edgardmessias commented on #126
Go to `View -> Output`, select `SVN` in dropbox

[2018-01-31 10:50] lapo-luchini commented on #126
OK, I see a bunch of `svn stat --xml`, `svn info --xml` and `svn cat`… but I tried all those from a shell with unset `SSH_AUTH_SOCK` and they don't ask for password, so that's not it.
Now I'll try and wait a bit.

OK, this is most certainly it:
[code]

[2018-01-31 11:29] #119 closed

[2018-01-31 11:51] #84 closed

[2018-01-31 11:58] JohnstonCode opened #127 "Create some docs"
Add them to readme so they are visible in VS Code itself.

[2018-01-31 12:08] JohnstonCode commented on #126
Would you like an option not to check for branch updates automatically then?

[2018-01-31 12:45] JohnstonCode commented on #127
Did a quick job. Added setting and a vague features list to read me.
don't have time to do gifs.

[2018-01-31 12:45] #127 closed

[2018-01-31 13:20] lapo-luchini commented on #126
Would be nice. Together with `"svn.diff.withHead": false` (that I'm already using) seems like it should achieve the "no unexpected connections" I was looking for.

[2018-01-31 13:21] edgardmessias commented on #126
The problem: when check remotes branches, svn use external request.

We need improve the auth for this cases.

[2018-01-31 13:43] #86 closed

[2018-01-31 13:50] JohnstonCode commented on #126
Yeah, auth is a big pain.

Not sure how to handle it.

[2018-01-31 13:52] lapo-luchini commented on #126
(In the meanwhile I did a local checkout and understood how to debug in VSCode.)
Seems to start from `Repository.getBranches()`'s usage of `svn.list(branchUrl)`… which seems to be called from the parsing of `svn info --xml` output… but I get a bit lost in seemingly unrelated Promises (__awaiter/step/fulfilled) and I don't understand how that's related.

[2018-01-31 14:02] JohnstonCode commented on #126
I think you are looking at the output files, not the ts files.

[2018-01-31 14:11] lapo-luchini commented on #126
Yeah, those intermediate stuff are in `.js` files, but following only the `.ts` files I don't understand how `svnRepository.ts` is called from `infoParser.ts`.
![image](https://user-images.githubusercontent.com/420454/35627310-d0daf800-0698-11e8-88de-dcbeb3b31c49.png)
Anyways, this puzzles me but is not so important, with the good old way of grepping for method names I guess it all originates from

[2018-01-31 14:16] JohnstonCode commented on #126
Yeah, send a PR!

[2018-01-31 14:16] lapo-luchini commented on #126
I understand the extension's approach seems to be «you're one developer on a very active branch, so you want to know often when stuff changes, so that you can update often and follow the branch» (I guess?), while I'm more accustomed to develop mostly offline and make a single big commit for a new working feature (which makes sense on a distributed SCM like [mtn](http://www.monotone.ca/) or git, bu

[2018-01-31 14:19] edgardmessias commented on #126
I will start to fixe auth issues

[2018-01-31 14:20] JohnstonCode commented on #126
@edgardmessias can you add what you are planning in #89

Would like to know how you plan to tackle it.

[2018-01-31 14:29] kivervinicius opened #129 "Problem on create new change list"
- VSCode Version: 1.19.3
- OS Version: Ubuntu 16.04
- Extension Version: 1.12.0
- System Language: PT-BR

Steps to Reproduce:

1. In source control create a new change list
2. In text field write letters with specials chars (Ex: ç é ã)
3. When add new files on recent change list create appears two lists, with special characters with coding problems and the correct, same problem on list above on si

[2018-01-31 14:54] lapo-luchini commented on #126
I wasn't so sure about the naming, feel free to change it (of course).

[2018-01-31 15:03] #126 closed

[2018-01-31 15:04] jamesmikesell commented on #86
Looks awesome, thanks for the enhancement

[2018-01-31 15:09] JohnstonCode commented on #126
live in v1.1.3.0

[2018-01-31 16:07] stephanedr opened #131 "Unversioned files shown twice"
- VSCode Version: 1.19.3
- OS Version: Windows 7
- Extension Version: 1.13.0
- System Language: English

Unversioned files are shown twice (was not the case with earlier versions, but don't know which version exactly):
1. In the UNVERSIONED section, as before (but now with 2 "+" buttons),
2. In the CHANGES section.

I don't know whether showing them twice is intentional, but I prefer seeing them o

[2018-01-31 16:13] JohnstonCode commented on #131
Ill sort it thanks for raising it!

[2018-01-31 16:14] edgardmessias commented on #131
In UNVERSIONED, one button is to add to svn control ("CHANGES") and one for "CHANGELIST"

In CHANGES, is for to choose "Changelist"

[2018-01-31 16:17] #131 closed

[2018-01-31 16:28] stephanedr commented on #131
This is fixed. Thanks !

[2018-01-31 17:05] #129 closed

[2018-01-31 17:37] Guema opened #133 "feature request - commit bar at the top of the svn module"
Hello,

This is a feature request about the way we write the commit message.
Instead of what it is at the moment, could you eventually use the top bar of the SVN source control, like for the Microsoft's git one, allowing to write multi-line messages, making it easier to use and less missed enter key susceptible.

I have now idea about how it is difficult or possible or anyway, just letting it here

[2018-01-31 19:44] edgardmessias commented on #89
@JohnstonCode, my idea:
* For `http://` and `svn://`, use the arguments `--username` and `--password`
* For `svn+ssh://`, use `sshpass -p`

Flow:
For commands without a remote query, do not use authentication, like, `add`, `info`, `status` (Note: check revion `HEAD`)

For commands with a remote query:
* First check remote access: like `svn info -r HEAD`
* If success, mark repository.ts authenticat

[2018-02-01 09:22] JohnstonCode commented on #133
Do you mean commit messages for selected files rather than all changes?

[2018-02-01 09:23] JohnstonCode commented on #89
Yeah that seems like a nice and simple approach

[2018-02-01 10:41] Guema commented on #133
I just understood that i did not exactly understood how the thing works.

Didn't know it was possible to commit all change before :/

Anyway, i think it could be more ergonomic to assemble and mix the 2 commit ways. The "commit selected" should probably be deleted and top bar behaviour should be changed.
(as having multiple way to do one thing is generally not a good idea, because it can be confus

[2018-02-01 10:44] edgardmessias commented on #133
VSCode has some limitations.

Could not you simply use a "to-commit" changelist, and commit only it?

[2018-02-01 11:03] Guema commented on #133
At the moment i do something like this, so yes, it is fully possible and working well,
I just let some ideas to enhance general ergonomy (in my opinion)

But i can understand VScode is limited as you said, and things i suggest may be not possible or
too time-expensive or difficult-to-do for what it can truly bring.

As said before i let it here, feel free to do, or not do, or to see later, its jus

[2018-02-01 11:12] JohnstonCode commented on #133
@Guema suggestions are always welcome.

Like @edgardmessias  said the VS code API is limited and can be a pain to work with. I found it doesn't cater too well with svn as it does with GIT.

I would like to use the top commit bot for all commit messages as I to do like to write multiline commit messages.

@edgardmessias  has recently added changelists which allow you to use the top commit box.

[2018-02-01 11:12] #133 closed

[2018-02-01 16:14] edgardmessias commented on #34
@JohnstonCode, you can test my branch?
https://github.com/edgardmessias/svn-scm/tree/status_file_explorer

How to enable:
* Open the file: `<vscode path>\resources\app\product.json`
* Find `extensionAllowedProposedApi`
* Append `"johnstoncode.svn-scm"` in the array

Example:
From
[code]

To:
[code]

This trick is to avoid putting `"enableProposedApi": true` in package.json, allowing to publish in

[2018-02-01 16:33] JohnstonCode commented on #34
@edgardmessias

Unversioned doesn't seem to work in the file explorer but does in the SCM view.

[2018-02-01 16:37] edgardmessias commented on #34
@JohnstonCode, fixed

[2018-02-01 16:44] JohnstonCode commented on #34
Yeah looks good and works

[2018-02-01 16:50] edgardmessias commented on #34
More suggestion?
Should we release a version?

[2018-02-01 16:52] JohnstonCode commented on #34
If you create a PR I will merge it and release it. Get some real-world feedback that way

[2018-02-01 16:54] edgardmessias commented on #34
Okay, I'll do some documentation first.

[2018-02-01 18:59] rwatts3 opened #135 "Feature: SVN Remote Status statusBar Icon"
It would be nice to have a status bar icon display to show the user that remote updates are present.
Running the command `svn status -u -q` would show us remote changes that are not currently updated in the project.

Possibly adding a config setting for frequency x mins , and have the statusBar Icon display some signal showing project is updated, and show another with possibly the number of change

[2018-02-01 19:50] edgardmessias commented on #135
To compare only revision number, we can use `svn info --xml -r HEAD` (<commit />)

To compare new commits, only need count log entry `svn log -r BASE:HEAD -q --xml`

[2018-02-01 20:08] rwatts3 commented on #135
Awesome.

Could you give me some pointers on where to implement this in the code and I’ll give it a shot.

[2018-02-01 20:13] Yanpas opened #136 "Changes icons alway on"
Extension Version: 1.13.2

There are two icons appeared recently: changed with Head and changes with Base. There are two problems with them: they both have same icon, the same with git too. And they appear for files which do not belong to any svn working copy

[2018-02-01 20:20] JohnstonCode commented on #135
have a look at statusBar, svn, svnrepository

Follow the chain of stuff that gets the switch branch command to work. You wont need to deal with commands as its only going to update text.

[2018-02-01 20:22] rwatts3 commented on #135
perfect thank you

[2018-02-01 20:23] JohnstonCode commented on #136
Can you provide a screenshot please.

[2018-02-01 20:24] Yanpas commented on #136
![image](https://user-images.githubusercontent.com/7345761/35701405-f6768cc8-07a6-11e8-9616-1f3904dab6ac.png)

[2018-02-01 20:26] edgardmessias commented on #136
Que need check opened repositories, like Git.

Tomorrow I fix

[2018-02-02 11:32] #136 closed

[2018-02-02 11:53] #34 closed

[2018-02-02 12:14] edgardmessias commented on #135
I'll start working on it.

My idea:
* No update - `(brachicon) <brachname> (refreshicon)`
* With update - `(brachicon) <brachname> (refreshicon) <updatetext>`

On click `brachicon`, prompt switch branch, already done
On click `refreshicon`, run svn command: `svn update`

[2018-02-02 16:03] #135 closed

[2018-02-02 16:20] rwatts3 commented on #135
Nice work guys, this is an extremely useful feature, especially with big teams.

[2018-02-02 17:27] Yanpas commented on #136
Great, thanks!

[2018-02-02 17:34] edgardmessias opened #140 "Some things to do to improve the code"
Some things to do to improve the code:

- [x] Rework run commands in `repository.ts`, like in git (Better for capture events) #141
- [x] Rework `commands.ts`, disallow usage of `this.repository.repository` #143
- [x] Show progress in the editor for some commands (update, commit, switch branch)
- [x] Rework `svn.ts` to every accepty proccess options (Current `CpOptions`)
- [x] Fix commands palette

[2018-02-02 17:40] edgardmessias commented on #140
@JohnstonCode, your opinion?

[2018-02-02 17:44] JohnstonCode commented on #140
Yeah, all valid points.

The codebase has become very ugly with the rapid development. Might be useful separating into individual issues so we can assign ourselves to work on them and not be tripping over each other.

[2018-02-02 17:46] edgardmessias commented on #140
Yes, good idea.

Let's use this as topic and discussion

[2018-02-02 17:51] edgardmessias opened #141 "Rework run commands in repository.ts"
Update the repository.ts to run commands like in GIT extension.

[2018-02-02 19:53] edgardmessias commented on #140
Added branch for rework: https://github.com/JohnstonCode/svn-scm/tree/rework

[2018-02-05 10:16] johnjacobkenny commented on #135
Isn't it supposed to be `new commits` instead of `news commit`?

If so, I can send a PR once I get back home.

[2018-02-05 10:23] johnjacobkenny commented on #140
If there's something suitable for a newbie, please let me help out. Thanks!

[2018-02-05 10:28] johnjacobkenny commented on #27
I've come across a similar issue where adding an existing file to an svn changelist does not reflect in the sidebar until I manually press the refresh button at the top.

[2018-02-05 12:08] JohnstonCode commented on #135
Yeah submit a PR

[2018-02-05 12:10] JohnstonCode commented on #27
Currently looking as sorting event stuff out.

[2018-02-05 17:00] #141 closed

[2018-02-05 17:06] edgardmessias commented on #140
@JohnstonCode, one item done.

[2018-02-05 17:08] edgardmessias opened #143 "Rework commands.ts (Part of #140)"
* Disallow usage of this.repository.repository

[2018-02-05 17:34] #143 closed

[2018-02-05 17:39] JohnstonCode commented on #140
@edgardmessias good work.

Need me to do any?

[2018-02-05 17:40] edgardmessias commented on #140
At the moment, if you can perform tests, to see if something went unnoticed.

[2018-02-05 18:06] JohnstonCode commented on #140
Okay, ill test everything tomorrow.

[2018-02-06 12:55] stephanedr opened #144 "Config options to configure status count"
- VSCode Version: 1.19.3
- OS Version: Windows 7
- Extension Version: 1.15.0
- System Language: English US

The number of pending changes displayed with the source control icon should not include the number of items reported in the EXTERNAL section.

For me the same applies to UNVERSIONED, though it can be a user preference.
Maybe an option would be needed here?

[2018-02-06 12:57] JohnstonCode commented on #144
Hi @stephanedr

Good suggestion and yes a config option would be useful.

[2018-02-06 12:59] edgardmessias commented on #144
@JohnstonCode, wait for rework first.
@stephanedr, good idea.

[2018-02-06 18:00] edgardmessias commented on #140
@JohnstonCode, done.

[2018-02-07 08:58] JohnstonCode commented on #140
`command 'svn.revertSelectedRanges' not found`

[2018-02-07 09:00] JohnstonCode opened #145 "Give commit log tab a proper title"
Currently, show commit message creates a new document with a title of Untitled-1

[2018-02-07 09:02] JohnstonCode commented on #140
Don't think its part of this but open file head possible change the title to add "-HEAD" or something. Might be a pain to do.

[2018-02-07 09:13] JohnstonCode commented on #140
Code looks so much better now

[2018-02-07 09:21] unterwegsmitkeks opened #146 "SVN does not refresh on branch switch"
- VSCode Version: 1.19.3
- OS Version: Windows 10 Pro 1709
- Extension Version: 1.15.0
- System Language: german

Steps to Reproduce:

1. click branch name (bottom left corner)
2. click "+ create new branch" and finish creation
3. click branch name (bottom left corner)
4. click on created branch
5. loading indicator shows but when it stops, the branch name in the bottom left has not changed
6. use

[2018-02-07 09:45] johnjacobkenny commented on #145
I'll give this a try. Thanks!

[2018-02-07 09:53] JohnstonCode commented on #145
@johnjacobkenny Just work in master the rework branch should affect this

[2018-02-07 09:53] edgardmessias commented on #145
For this, use [TextDocumentContentProvider](https://code.visualstudio.com/docs/extensionAPI/vscode-api#_a-nametextdocumentcontentprovideraspan-classcodeitem-id465textdocumentcontentproviderspan)

Use a custom schema, like `svn-provider`, and in `query`, set a `action` to `log`

[2018-02-07 09:55] edgardmessias commented on #140
@JohnstonCode, good morning, I will check the issues.

[2018-02-07 09:55] edgardmessias commented on #146
@JohnstonCode, you can test o `rework`?

[2018-02-07 09:57] edgardmessias commented on #140
To add "-HEAD" in title, we can use [TextDocumentContentProvider](https://code.visualstudio.com/docs/extensionAPI/vscode-api#_a-nametextdocumentcontentprovideraspan-classcodeitem-id465textdocumentcontentproviderspan)

[2018-02-07 10:11] edgardmessias commented on #140
@JohnstonCode, the command `svn.revertSelectedRanges` need a proposed api, I will add alert to this case.

[2018-02-07 10:12] JohnstonCode commented on #140
Okay, cheers.

Let me know when the branch is ready and ill merge it

[2018-02-07 10:49] edgardmessias commented on #140
@JohnstonCode, fixed the `svn.revertSelectedRanges`, if not has support, not show.

[2018-02-07 10:55] JohnstonCode commented on #140
Okay ill merge it now

[2018-02-07 10:57] #140 closed

[2018-02-07 10:57] edgardmessias commented on #140
OK, after merge, I will work on #145

[2018-02-07 10:58] JohnstonCode commented on #140
Leave with that john see if he can put it together

[2018-02-07 11:01] edgardmessias commented on #140
Merged

[2018-02-07 11:15] JohnstonCode commented on #140
That's all merged in and also the news stuff is merged and fixed

[2018-02-07 11:16] johnjacobkenny commented on #145
I'm not making much progress. Do I create another file similar to `SvnContentProvider`?

[2018-02-07 11:17] edgardmessias commented on #145
@johnjacobkenny, I working on this.

[2018-02-07 11:18] johnjacobkenny commented on #145
Oh okay!

[2018-02-07 13:02] edgardmessias commented on #146
@unterwegsmitkeks, please, test with version 1.16.0

[2018-02-07 13:48] edgardmessias commented on #145
Done with #147

[2018-02-07 13:57] #145 closed

[2018-02-07 13:58] JohnstonCode commented on #116
@ekopei  Please reopen this issue if you are still having problems

[2018-02-07 13:58] #116 closed

[2018-02-07 16:05] Guema opened #149 "[Bug] SCM vanishes when opening a non-repository file."
- VSCode Version: 1.9.3
- OS Version: Win x64
- Extension Version:  1.16.0

Steps to Reproduce:

1. open a SVN repos folder in vscode. The ext will be enabled
2. while keeping the folder open, open any file that is not in the repository, like, for exemple, User Settings. SCM vanishes.

[2018-02-07 16:24] JohnstonCode commented on #149
@Guema not able to replicate this.

Are you getting anything strange in the output window?

[2018-02-07 16:36] Guema commented on #149
No other strange things.
When loading User settings, "SOURCE CONTROL" things just disappear, letting the sentence "There are no active source control providers".
To be more accurate, when this bug occur, the "..." menu still offer the svn commands of the ext.
But all repo changes are gone. Until reload/relaunch.

[2018-02-07 16:43] JohnstonCode commented on #149
@edgardmessias you able to replicate this.

Iv tried opening the User Settings and opening random files I have that aren't in my repos.

[2018-02-07 16:46] edgardmessias commented on #149
@JohnstonCode , I could not replicate here.

@Guema, you can send printscreen after and before?

[2018-02-07 17:02] Guema commented on #149
![pouet](https://user-images.githubusercontent.com/8943532/35929997-13f5bdee-0c31-11e8-875d-b9e6646e8666.gif)

[2018-02-07 17:17] edgardmessias commented on #149
@Guema , same problem with another workspace? You can check the setting `"svn.enabled": true`

[2018-02-07 17:22] unterwegsmitkeks commented on #146
@edgardmessias It works with version 1.16.0
Thanks, you guys are awesome :)

[2018-02-07 17:23] #146 closed

[2018-02-07 17:36] Guema commented on #149
@edgardmessias tried both, same problem.

[2018-02-08 09:02] Guema commented on #149
Hi ^^

So my problem still here after vscode 1.20 and os reboot.

I'm investigating a bit, and here is what i get at vscode launch in dev console.
It may be known or not related.

![2018-02-08 09_44_43-clipboard](https://user-images.githubusercontent.com/8943532/35963442-00655ba2-0cb5-11e8-86ac-4075625b16d3.png)

I reproduced the bug to see what it do.
The errors are not instantly thrown when the

[2018-02-08 18:03] edgardmessias commented on #149
I did everything and I can not reproduce here.

The stranger is the line: `... switch: --enable-proposed-api undefined`
My tests show: `... switch: --enable-proposed-api johnstoncode.svn-scm`

[2018-02-08 18:35] edgardmessias commented on #144
Done with #151

[2018-02-08 19:10] #144 closed

[2018-02-09 12:44] johnjacobkenny commented on #149
I am facing the same issue on my work computer.
- VSCode Version: 1.20.0
- OS Version: Win x64 (same)
- Extension Version: 1.16.0 (same)

[2018-02-09 12:47] JohnstonCode commented on #149
Possible a windows issue.

I will have a look tonight when I have access to a windows machine.

[2018-02-09 12:48] johnjacobkenny commented on #149
I am getting an svn: E155007: '<redacted>\AppData\Roaming\Code\User\settings.json' is not a working copy in the svn output window.

[2018-02-09 13:01] johnjacobkenny commented on #57
Currently, after reverting a file, the diff view stays on screen without updating. I was expecting that once the revert was done the diff would automatically update to reflect the changes. The file is correctly removed from the left side bar.

[2018-02-09 13:02] johnjacobkenny commented on #57
No wait, this happened just once, I might have done something differently to cause that. It isn't recurring.

[2018-02-09 15:41] edgardmessias commented on #149
I found the problem.

[2018-02-09 16:11] edgardmessias commented on #149
The function `hasSupportToDecorationProvider` always returned true.

The coverage show usage https://codecov.io/gh/JohnstonCode/svn-scm/src/c1390f9a188c49c4dcfd314e915f643f3e16f611/src/decorationProvider.ts

Correct is not usage.

[2018-02-09 16:47] Guema commented on #149
The problem is still here for me at 1.17.0

[2018-02-09 17:28] edgardmessias commented on #149
Console log?

[2018-02-10 01:25] mpearon opened #153 "Feature Request: Add provisions to silence Output"
- VSCode Version: 1.20.0
- OS Version: Windows 10, Ubuntu 16.0.4 LTS
- Extension Version: 1.17.0
- System Language: English

Steps to Reproduce:
1. Launch vsCode

Issue Description:
On every launch (both OSes), vsCode now displays the output pane, echoing the following:
Windows 10:  `Using svn 1.9.7 (r1800392) from C:\Program Files\TortoiseSVN\bin\svn.exe`
Ubuntu 16.0.4:  `Using svn  from svn`

Th

[2018-02-10 12:41] JohnstonCode commented on #149
Confirmed this is a windows only bug.

Debugging now

[2018-02-10 12:45] Guema commented on #149
Sorry, cannot provide more details right now as this problem occur on my job's pc. will try to replicate it on my own pc later

[2018-02-10 12:48] edgardmessias commented on #149
How?

[2018-02-10 12:57] JohnstonCode commented on #149
Just working on my widnwos machine it happens.

[2018-02-10 12:59] edgardmessias commented on #149
I my windows not happens

[2018-02-10 13:02] JohnstonCode commented on #149
[this line is the issue](https://github.com/JohnstonCode/svn-scm/blob/d262c6646ed786e2d8f4e18d8d2b572c404de2f2/src/svnContentProvider.ts#L90)

For some reson repositroy is true for documents that arnt in the repository.

[2018-02-10 13:07] JohnstonCode commented on #149
[This check is returning true](https://github.com/JohnstonCode/svn-scm/blob/d262c6646ed786e2d8f4e18d8d2b572c404de2f2/src/model.ts#L265)

[2018-02-10 13:15] JohnstonCode commented on #149
@Guema @johnjacobkenny

Do you have vs code and your project on a different drive?

[2018-02-10 13:17] JohnstonCode commented on #149
Seems that because vs code is installed on my C:/ drive and my work is on my D:/ that `path.relative` just returns the path for the files being passed my my case `c:\Users\chris\AppData\Roaming\Code\User\settings.json`

This then passed the check of `!/^\.\./.test(relativePath)`

[2018-02-10 13:22] johnjacobkenny commented on #149
Yes, VS Code was installed normally without changing the drive. My project is in D drive. I can check again on Monday by checking out to somewhere in C drive.

[2018-02-10 13:23] JohnstonCode commented on #149
It fine figured it out

[2018-02-10 13:25] JohnstonCode commented on #149
Could use [this](https://nodejs.org/api/path.html#path_path_sep) to see fi the paths are on the same drive

[2018-02-10 13:29] JohnstonCode commented on #149
@edgardmessias pro level fix

`if (liveRepository.repository.workspaceRoot.split(path.sep)[0] !==  hint.fsPath.split(path.sep)[0]) {
          return undefined;
        }`

[2018-02-10 13:43] #149 closed

[2018-02-10 13:56] #153 closed

[2018-02-10 15:14] Guema commented on #149
Yes, im in this case too, vscode is on C:/ and projects on D:/
will try asap and see if it is solved, but should be good 👍
good job and thanks guys

[2018-02-12 04:33] johnjacobkenny commented on #149
It works correctly for me now. Thanks!!

[2018-02-12 08:25] Guema commented on #149
fix confirmed for me too. good job and thanks !

[2018-02-12 09:03] johnjacobkenny commented on #88
Is it possible to save a patch that is generated so it can be shared?

[2018-02-12 09:55] JohnstonCode commented on #88
Create a new issue and ill have a look

[2018-02-12 11:00] johnjacobkenny opened #155 "Ability to save patches"
Is it possible to save svn patches that are created?

[2018-02-12 11:41] rwatts3 commented on #88
Actually wouldn’t ctrl +s on the Untitled document work.
On Mon, Feb 12, 2018 at 2:55 AM Christopher <notifications@github.com>
wrote:

--

-V/R

Ryan Watts

[2018-02-12 15:22] johnjacobkenny commented on #88
Currently it doesn't work for me, were you able to do it @rwatts3?

[2018-02-12 15:23] edgardmessias commented on #155
@johnjacobkenny, working on this.

[2018-02-12 15:50] #155 closed

[2018-02-12 16:17] johnjacobkenny commented on #155
Wow that was fast! Great job! Thanks a lot

[2018-02-12 17:06] JohnstonCode commented on #89
Working on this now

[2018-02-12 17:16] rwatts3 commented on #88
Yes,

Testing on Windows machine, when you create a patch it would open in a new window "Untitled-1", then if you just ctrl+s you can save the patch wherever you like.

Not sure if functionality is different on a mac.

[2018-02-12 17:20] johnjacobkenny commented on #88
@rwatts3 it used to be an untitled doc a week ago or so. Now it has changed. Could you confirm that you are on the latest version?
Anyways in the meantime a commit was pushed which fixed the same!

[2018-02-12 17:22] johnjacobkenny commented on #89
Not sure if this is useful, but on my work computer running windows, it doesn't have this issue. Does svn automatically use windows credentials to connect?

[2018-02-12 17:24] rwatts3 commented on #88
Ah i see,

I think i did notice a change on my mac on Friday. Perhaps with the latest code-insiders / code release they changed that functionality.

Yes I am on the latest version. I think the solution that was published for 1.8.1 works well.

[2018-02-12 17:27] rwatts3 opened #157 "Feature : Patch Apply"
Proposal to Apply Patch files to a project.

**Use Case**
- Dev A patches his files for review then saves them on a shared drive or forwards to Dev B
- Dev B then applies the patched file to his project to get a working copy of Dev A's patch.

**Things to Consider**
- A setting in vscode to allow a default directory to pull patches from
- A prompt to allow the user to select a patch file from the

[2018-02-12 17:42] JohnstonCode commented on #157
Patching is not something i do in my dev workflow.

But i can see its use.

This would be good project to get started on doing GUI stuff. [This extension](https://marketplace.visualstudio.com/items?itemName=streetsidesoftware.code-spell-checker) has a nice gui window it uses for settings.

[2018-02-12 17:43] edgardmessias commented on #157
I am working on patch for current or selected files.

[2018-02-12 17:45] rwatts3 commented on #157
Yes their GUI is nice, very clever way to do things.
I can see that being useful for this use case, navigating through conflicts and the ability to resolve them.

[2018-02-12 17:57] JohnstonCode commented on #89
Anyone have access to a password protected SVN server. Cant test auth on local repos.

[2018-02-12 18:00] edgardmessias commented on #89
For local teste: http://svnbook.red-bean.com/en/1.7/svn.serverconfig.svnserve.html#svn.serverconfig.svnserve.auth

[2018-02-12 18:08] JohnstonCode commented on #89
Yeah tried that but doesnt want to ask me for the username or password

[2018-02-12 18:10] edgardmessias commented on #89
You can test with `--no-auth-cache` argument

[2018-02-12 18:11] edgardmessias commented on #89
Try remove files:
* Windows: `%APPDATA%\Subversion\auth\svn.simple\`
* Linux: `~/.subversion/auth/svn.simple/`

[2018-02-12 18:23] JohnstonCode commented on #89
still no joy

[2018-02-12 18:23] edgardmessias commented on #89
In folder of server, edit `conf/svnserve.conf`
Change:
[code]

[2018-02-12 18:25] JohnstonCode commented on #89
yeah got

`anon-access = none
auth-access = write
password-db = passwd
authz-db = authz`

[2018-02-12 18:32] JohnstonCode commented on #89
im checking out using file:/// does that matter?

[2018-02-12 18:34] edgardmessias commented on #89
Yes, you need first, run: `svnserve -d --foreground -r <svn server folder>`

To checkout: `svn://localhost/`

[2018-02-12 18:37] JohnstonCode commented on #89
Works thanks for that

[2018-02-12 19:39] JohnstonCode commented on #89
@edgardmessias

Thoughts on this commit? [Here](https://github.com/JohnstonCode/svn-scm/commit/41a8a24b89565ad1c414e301b77cbdf3a55c9cd4)

[2018-02-12 19:48] edgardmessias commented on #89
My idea: Override the `retryRun` to catch `need auth`, after this, prompt username and password.

Some commands not need auth, like `cat`, `diff`.

[2018-02-12 19:57] edgardmessias commented on #89
I not like the `window.showInput....` int the repository.ts, create a command (like `svn.promptAuth`) and call from repository.ts

In command.ts, you force to define the need auth to true.

[2018-02-12 20:11] JohnstonCode commented on #89
Yeah feels  wrong were it currently is.

I think the limit is need aswell otherwise it will just loop forever.

I was also thinknig should we add a config option for `--no-auth-cache` as svn stores everything in plaintext. If so the user will be asked for the password everytime the extension runs. or it will just use the cache.

[2018-02-12 20:14] edgardmessias commented on #89
I will make my version to you understand. Wait for tomorrow

[2018-02-12 20:14] JohnstonCode commented on #89
okay

[2018-02-12 22:55] JohnstonCode opened #159 "Create a settings object"
Create a config class that auto assigns all the possible config options to itself. This will remove some of the repetitive getting the config and checking values

[2018-02-12 22:58] JohnstonCode commented on #89
The more I think about it the more I think that the auth check should be in the model. There is no point in doing all the repository creation work if it can’t be accessed. The model is already responsible for finding the route path of a repository so why not check auth as well.

[2018-02-12 22:58] edgardmessias commented on #159
Maybe, we can update requeriments to VSCode 1.18.0, for use the [affectsConfiguration](https://code.visualstudio.com/docs/extensionAPI/vscode-api#_a-nameconfigurationchangeeventaspan-classcodeitem-id1367configurationchangeeventspan) of workspace.onDidChangeConfiguration

[2018-02-12 23:00] edgardmessias commented on #89
Think about how it would work in offline mode.

[2018-02-12 23:08] JohnstonCode commented on #89
My idea was only to flag that auth is needed in the model and pass it to the repository as the root path is.

[2018-02-13 07:04] johnjacobkenny opened #160 "Sidebar doesn't update when adding file to changelist"
I made some changes to a file, and then added that modified file to a changelist. It does not move down into the changelist in VS code UI until I press the refresh button at the top. It does get added in svn changelist though.

[2018-02-13 09:50] johnjacobkenny opened #161 "Unable to resolve conflicts on different drives"
Title says it all. Or else. we could have a right click option on the file and choose to mark as resolved manually.

[2018-02-13 10:05] johnjacobkenny opened #162 "No diff for conflicted files"
Clicking on conflicted files in the source control sidebar does not do anything. At the least, it could open up the file normally where we could perform conflict resolution.

On a related note, the right click options for conflicted files `Open changes with BASE/HEAD` don't do anything.

[2018-02-13 10:23] JohnstonCode commented on #161
There is a command on the ... menu that resolves conflicts. Is this what you are looking for?

[2018-02-13 10:50] JohnstonCode commented on #162
Need to update the package.json to remove commands from conflicted files. Also need to update the Resource class to put open file as left click command

[2018-02-13 10:51] JohnstonCode commented on #159
Yeah ill up the version tonight.

[2018-02-13 11:03] johnjacobkenny commented on #161
I think that is the one I was looking for. However that gives this as output in svn console
`svn resolve --accept working C:\d:\Projects\<redacted>`

[2018-02-13 11:04] johnjacobkenny commented on #162
If its suitable for a beginner I could look into it.

[2018-02-13 11:08] JohnstonCode commented on #162
Yeah, nice first issue. Just need to look at the commands in the package.json and add checks for conflicts. Just reference the external check that are already there.

You will also need to edit the resource.ts and add a check for changes in the `get command()` function and return a open file command instead.

[2018-02-13 11:09] JohnstonCode commented on #162
If you have any issue let me know.

[2018-02-13 11:11] JohnstonCode commented on #161
Think it will be the different drive issue that was causing the extension to close when opening settings.

[2018-02-13 11:11] JohnstonCode commented on #161
Ill have to have a look at this tonight when i have my machine with to hard drive.

[2018-02-13 13:28] johnjacobkenny opened #163 "Support for blame"
Is it possible to add a blame view?

[2018-02-13 13:41] JohnstonCode commented on #163
Don't see why not.

[2018-02-13 16:35] edgardmessias commented on #89
@JohnstonCode, see #164

[2018-02-13 17:12] johnjacobkenny commented on #162
Is there any quick way to get a merge conflict in my testing repo? I'm not at all familiar with the available commands in svn.

[2018-02-13 17:15] edgardmessias commented on #162
Checkout, edit one file and switch branch.
The file need are diff between branchs

[2018-02-13 17:25] johnjacobkenny commented on #162
I don't know if it's something I'm doing wrong, but I chose switch branch and created a branch, but the next time I choose switch branch, I'm not able to see that created branch in the list of branches.

[2018-02-13 17:31] johnjacobkenny commented on #162
I'm using a file:// repo on my disk. SVN console says `E200009: Could not list all targets because some targets don't exist` for repo/trunk, repo/branches, repo/tags
I tried creating those directories, still no progress.

[2018-02-13 17:42] johnjacobkenny commented on #162
There might be some issue with the way I set up my repo. What steps did you take to initialize a local repo. I'm on linux btw.

[2018-02-13 18:54] JohnstonCode commented on #162
I have used [this](https://www.guyrutenberg.com/2007/10/29/creating-local-svn-repository-home-repository/) guide before

[2018-02-14 03:54] johnjacobkenny commented on #160
I think this was an oversight on my part, or something which changed in recent updates, but this is working for me now. Could someone confirm?

[2018-02-14 03:54] #160 closed

[2018-02-14 03:55] johnjacobkenny commented on #162
I'll try this again today evening.

[2018-02-14 05:49] johnjacobkenny commented on #163
It would be nice to have the option to toggle the blame inline with the file, but I'm not sure how intensive that operation might be for the svn server.

[2018-02-14 09:35] JohnstonCode commented on #160
Yeah, this was fixed as part of the latest release.

[2018-02-14 09:36] JohnstonCode commented on #162
Okay, let us know if you have any more issues.

[2018-02-14 09:39] JohnstonCode commented on #163
I think the operation will be fine on the server.

My hopes are to try an put something together like [git lens](https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens)

[2018-02-14 10:45] edgardmessias commented on #162
Fixed

[2018-02-14 10:45] edgardmessias commented on #161
Fixed

[2018-02-14 16:11] johnjacobkenny commented on #162
Is there any resource that can help in understanding the codebase better?

[2018-02-14 16:15] edgardmessias commented on #159
Base for use: https://github.com/eamodio/vscode-gitlens/blob/6c3716daf8d669fae5139c8e56713447bd55b542/src/configuration.ts

[2018-02-14 16:17] edgardmessias commented on #162
@johnjacobkenny, Update the `README.md` with new config options

[2018-02-14 17:11] edgardmessias commented on #163
Tips: To blame, we need execute two commands:
* `svn blame <file> --xml` to show revision number, author and date
* `svn log -r <revision> [-r <revision> ...] --xml` to show the last message

First need run blame, collect all revisions numbers and pass to log

[2018-02-14 17:17] edgardmessias commented on #163
VSCode api:
* [window.createTextEditorDecorationType](https://code.visualstudio.com/docs/extensionAPI/vscode-api#window.createTextEditorDecorationType)
* [TextEditor.setDecorations](https://code.visualstudio.com/docs/extensionAPI/vscode-api#TextEditor.setDecorations) with [DecorationOptions[]](https://code.visualstudio.com/docs/extensionAPI/vscode-api#DecorationOptions)

[2018-02-14 18:11] edgardmessias opened #167 "Show external folder as a repository"
Show external folder as a repository.

If has added or changed a file in external folder, you cannot commit this file with non external file.

SVN Error:
[code]

[2018-02-15 02:42] johnjacobkenny commented on #162
Okay I'll do that in the evening!

[2018-02-15 10:46] edgardmessias opened #169 "Double function 'parseVersion' in svnFinder.ts"
Double function 'parseVersion' in svnFinder.ts

[2018-02-16 18:53] #169 closed

[2018-02-16 18:54] #161 closed

[2018-02-16 18:54] #162 closed

[2018-02-16 19:03] mpearon opened #170 "Viewing HEAD information shows all information has changed and kills PowerShell extension"
- VSCode Version: 1.20.1
- OS Version: Windows 10 1607
- Extension Version: 1.19.0
- System Language: English

## Issue ##
After a versioned file is modified (in this case a .psm1) and saved, the plugin detects changes.
I then switch to Source Control in the Activity Bar.
If I just submit the file, all is well - but if I click the file to view the HEAD info, it reports back that the _entire_ file

[2018-02-16 19:06] edgardmessias commented on #170
@mpearon , you can send the svn log?

[2018-02-17 15:21] Yanpas opened #171 "Hide buttons, menu items etc if there are no svn repositories"
- VSCode Version: 1.20.1
- OS Version: win10
- Extension Version: 1.19
- System Language: ru

Currently "Open Changes" buttons, SCM "..." menu items are shown even if there is no svn reposiry

[2018-02-19 11:01] edgardmessias commented on #171
Note: Need add `svnOpenRepositoryCount != 0` in all commands in `package.json`

[2018-02-19 11:19] JohnstonCode commented on #171
Easy fix. I'll update the extension with all the changes later on today.

[2018-02-19 12:27] JohnstonCode opened #172 "Get conflicts to use API"
Current conflict resolution is poor.

need to use this API: [https://github.com/Microsoft/vscode/tree/master/extensions/merge-conflict](https://github.com/Microsoft/vscode/tree/master/extensions/merge-conflict)

[2018-02-19 12:51] edgardmessias commented on #172
Maybe, we can check document after save contains the markers: `<<<<<<<`, `|||||||`, `=======`, `>>>>>>>`

If not contains, mark file solved.

[2018-02-19 14:41] #171 closed

[2018-02-19 17:25] edgardmessias commented on #172
@JohnstonCode, see the #174

[2018-02-19 17:28] edgardmessias commented on #172
I am working to allow you to resolve the conflict by selected file

[2018-02-19 17:56] edgardmessias commented on #172
Done for resolve conflict by selected file.

[2018-02-19 18:52] edgardmessias commented on #172
@JohnstonCode, can close?

[2018-02-19 18:58] Yanpas commented on #171
Thanks!

[2018-02-19 18:59] JohnstonCode commented on #172
Yeah

[2018-02-19 18:59] #172 closed

[2018-02-19 19:52] Yanpas commented on #171
The buttons are not hidden if there is no svn installed:
`Error: Svn installation not found.`

[2018-02-19 20:20] edgardmessias commented on #171
@Yanpas, @JohnstonCode, fixed with: https://github.com/JohnstonCode/svn-scm/commit/f71b038254eb0bcc08b6c6b854ff6342e7d244b4

[2018-02-20 09:58] stephanedr opened #176 "Add an option to manage externals as before 1.20.0"
- VSCode Version: 1.20.1
- OS Version: Windows 7
- Extension Version: 1.20.0
- System Language: English

Since version 1.20.0, external directories are managed as different source control providers.
With this presentation, it seems we can no more commit all modified files from different externals at once (possible when on the same SVN repo).

Additionally it's a bit more difficult to see modified

[2018-02-20 10:13] JohnstonCode commented on #176
Yeah, that should definitely be an option.

[2018-02-20 10:19] JohnstonCode opened #177 "Option to close repository in SCM view when multiple repositories are open"
Need the option to close a repository when multiple repositories are found like you can with git.

[2018-02-20 10:54] Yanpas opened #178 "Reset diff indicators after commit"
- VSCode Version: 1.20
- OS Version: linux
- Extension Version: 1.20
- System Language: ru

Steps to Reproduce:

1. Modify file under version control
2. Commit it
3. Diff line indicators (near line number) are still there

[2018-02-20 10:55] edgardmessias commented on #176
@stephanedr, you can show you structure of externals? Commit example?

In my tests, show this error:
[code]

[2018-02-20 11:12] stephanedr commented on #176
@edgardmessias, here a typical structure:
[code]
Note that when committing to externals, those externals should not be tags, but either the trunk or a branch.

Another situation of using externals is when different parts (sub-directories) of a same project don't have the same write permission per developer. In that case, those sub-directories don't have the branches/tags/trunk structure.

I'm not

[2018-02-20 11:31] edgardmessias commented on #176
I see the problem: if externals is same repository, working fine, if a different repository, no.

[2018-02-20 12:19] edgardmessias commented on #176
My idea:
Re-add option `svn.sourceControl.showExternal`

On detect externals, compare the UUID of repository, if different, show in a different source control provider. If equals, check `svn.sourceControl.showExternal` to show in same source control.

[2018-02-20 12:50] stephanedr commented on #176
That's fine for me.

A suggestion on the presentation: would it be possible to show the "details" of a source control just below its title in the source control providers, not below all the providers.
So each source control provider has an expand/collapse icon, to show/hide its details, like when several providers are selected.

[2018-02-20 12:57] edgardmessias commented on #176
@stephanedr, you can send a screenshot? I did not understand

[2018-02-20 12:59] edgardmessias commented on #178
@Yanpas, working fine here.
@JohnstonCode, you can reproduce?

[2018-02-20 13:18] JohnstonCode commented on #178
@edgardmessias unable to reproduce

[2018-02-20 14:19] stephanedr commented on #176
Here is the current presentation:
![original](https://user-images.githubusercontent.com/8625526/36428422-21175ed2-1650-11e8-8b7d-cb909761065e.png)

Here is my view:
![expected](https://user-images.githubusercontent.com/8625526/36428444-2cff2d60-1650-11e8-80dd-d33de4a443e4.png)

Colors have to be adjusted, but this gives the idea.

Note that when a source control provider is collapsed, the "provide

[2018-02-20 14:33] edgardmessias commented on #176
Currently the VSCode API does not allow doing this.

[2018-02-20 14:37] stephanedr commented on #176
Is it a limitation of the source control provider?
If yes, might it be done by not using it (as 1.19.0) and use "sections" (like "CHANGES", "UNVERSIONED")?

[2018-02-20 14:39] edgardmessias commented on #176
Yes, it is a limitation of the source control provider.

[2018-02-20 14:41] stephanedr commented on #176
So what about not using it?

[2018-02-20 14:43] edgardmessias commented on #176
I will work to like "changelists", to group externals on same folder

[2018-02-20 15:58] Yanpas commented on #178
Was unable to reproduce on newly created dummy local C# repo, but reproduces on real repo
![image](https://user-images.githubusercontent.com/7345761/36434027-16f8b06c-166f-11e8-8286-443ad9cc8493.png)

Trying to find steps to reproduce

[2018-02-20 16:27] mpearon commented on #170
@edgardmessias - I hope this is what you're after:
[code]

[2018-02-20 16:30] edgardmessias commented on #170
@mpearon, I can't reproduce here
@JohnstonCode, you can reproduce?

[2018-02-20 17:34] edgardmessias commented on #178
@Yanpas, to test: Edit one file, wait for 10 minutes and commit. Note: not close or change tab of file.

[2018-02-20 18:02] JohnstonCode commented on #170
@edgardmessias unable to reproduce here

[2018-02-20 18:42] mpearon commented on #170
Is there anything more I can provide you guys for troubleshooting?  It's consistent on my end.
In the meantime, I'll verify that I can reproduce the issue on another machine with the same environment.

[2018-02-20 21:54] rwatts3 opened #179 "Feature: Show Notification when changes are on remote"
We currently show the taskbar icon when new changes are on remote that are not in our local project.
In this same space we can give the option to display a notification of the new changes, which will prompt the user to update their project.

I say give the option because this can be a configuration to enable or disable should the user not want to receive the notification.

[2018-02-21 09:41] JohnstonCode commented on #170
Yeah if you can try on another machine in the same environment that will help.

[2018-02-21 09:42] JohnstonCode commented on #177
Working on now

[2018-02-21 09:54] #177 closed

[2018-02-21 10:59] edgardmessias commented on #170
@mpearon, try disable all plugins and run.
Maybe it's another plugin the problem

[2018-02-21 13:41] Yanpas commented on #178
Still cannot reproduce on dummy repo

[2018-02-21 14:01] #159 closed

[2018-02-21 14:52] MrSparklle opened #181 "How to enable this extension on MAC?"
- VSCode Version: 1.20.1
- OS Version: Mac OS X 10.13.3
- Extension Version: 1.20.0
- System Language: EN-US
- SVN Version: svn, version 1.9.4 (r1740329)

## Issue ##
I follow the instructions provided in readme and this extension aren't listed in the SCM providers.

## Steps to Reproduce ##

1. Installed extension
2. Changed file product.json inside ˜/applications/"Visual Studio Code.app"
3. Rest

[2018-02-21 14:56] edgardmessias commented on #181
@MrSparklle , you want enable "SVN Status in File Explorer"
You have a workspace opened with SVN?

[2018-02-21 16:00] MrSparklle commented on #181
Yes I did was suggested:
"Open the file: <vscode path>\resources\app\product.json
Find extensionAllowedProposedApi
Append "johnstoncode.svn-scm" in the array"

So I don't have the <vscode path> on Mac OS. I need to edit this file inside "˜/applications/Visual Studio Code.app"

I have a folder opened in VSCode withe my project. This folder has a .svn dir inside. This dir has been generated by a pre

[2018-02-21 18:39] JohnstonCode commented on #181
The part you are referring to is enabling the file explorer decorations. They are not needed to get the extension to work.

The extension should just work with no configuration needed.

The extension cannot detect an svn repository. Do you have a 2nd repository to test with?

[2018-02-21 18:53] MrSparklle commented on #181
I already tried with 2 ou 3 different repositories unsuccessful.
All of them are created by Cornerstone SVN app.

[2018-02-21 18:55] edgardmessias commented on #181
@MrSparklle, run the command in workspacefolder: `svn info` and paste the result

[2018-02-21 19:06] MrSparklle commented on #181
@edgardmessias

`svn: E155036: Please see the 'svn upgrade' command
svn: E155036: The working copy at '/Users/XXXX/Repository/CEF/SWRC'
is too old (format 29) to work with client version '1.9.4 (r1740329)' (expects format 31). You need to upgrade the working copy first.`

After run `svn upgrade` the VSCode recognize the .svn and everything works fine.
I guess the .svn generated by Conerstone is a

[2018-02-21 19:07] #181 closed

[2018-02-21 20:07] edgardmessias commented on #176
@stephanedr , wait for #182.

Added the option: `svn.sourceControl.combineExternalIfSameServer`: Combine the svn external in the main if is from the same server

[2018-02-22 03:06] shaco-6 opened #183 "Unable to commit on MacOS"
- VSCode Version: 1.20.0
- OS Version: 10.13.3
- Extension Version:
- System Language: Simplified Chinese
- SVN Version: CornerStone 3.0.3 (22,983)

## Issue ##

Unable to commit

## Steps to Reproduce ##

1. commit selected
2.

## SVN Output ##

Erorr: Unable to commit

## Screenshots ##

[080A0BDF-0782-446F-A3AC-4F6354509770.png.zip](https://github.com/JohnstonCode/svn-scm/files/1746502/080A0BDF

[2018-02-22 05:02] emptyVoid commented on #89
Does this fix apply to version 1.20.0?
I saw `@edgardmessias Added auth support` in the changelog and thought to try it out. Haven't noticed any change in behavior.

[2018-02-22 08:43] JohnstonCode commented on #89
Yes, it does.

Are you still unable to use the extension with auth?

[2018-02-22 08:45] JohnstonCode commented on #183
Can you run "svn info" and copy the results in here, please?

[2018-02-22 08:48] shaco-6 commented on #183
Here is informatin, thank you ~~

liuchangdeMBP:UnityProject liuchang$ svn info
Path: .
Working Copy Root Path: /Users/liuchang/Desktop/PitayaSVN/Hellokitty
URL: http://liuchang@119.29.21.115:10081/svn/hex4_git/Hellokitty/UnityProject
Relative URL: ^/Hellokitty/UnityProject
Repository Root: http://liuchang@119.29.21.115:10081/svn/hex4_git
Repository UUID: 7a1f3cfe-9371-4190-b379-8a5fdfb9e7dd
Revis

[2018-02-22 09:21] JohnstonCode commented on #183
Thanks for that.

Do you have anything in your debug console?

[2018-02-22 09:32] shaco-6 commented on #183
I try to commit some test file by Terminal, failed too...
but can commit by CornerStone, Is this what I did wrong ? Thanks ~~

liuchangdeMBP:Configuration liuchang$ svn commit -m "test" shop_config.json
Sending        shop_config.json
Transmitting file data .done
Committing transaction...
svn: E165001: Commit failed (details follow):
svn: E165001: Commit blocked by pre-commit hook (exit code 1) wi

[2018-02-22 09:38] shaco-6 commented on #183
I try to input longger comment, it work >.<

Thank for your help ~~

[2018-02-22 09:41] JohnstonCode commented on #183
No problem

[2018-02-22 09:41] #183 closed

[2018-02-22 10:24] emptyVoid commented on #89
Yes, I keep getting similar output on VSCode launch:
[code]
And an `Error Unable to update` when trying to manually update via the source control tab, with the following output:
[code]
Same as before the extension starts working after an `svn up` from the terminal.

[2018-02-22 11:34] emptyVoid commented on #89
Yes, the replacement changed extension's behavior.
Now on every VSCode launch I'm prompted to enter username/password for the repository. Not sure if it's actually the intended behavior though, it's kind of an inconvenience, as `svn` from terminal doesn't ask for them.

[2018-02-22 11:42] edgardmessias commented on #89
Yes, is intended behavior.

The problem is GNOME Keyring.

Open `~/.subversion/config` and paste this section: `[auth]` > `password-stores`

Try set `password-stores=` (empty) and run three times the vscode

[2018-02-23 04:50] emptyVoid commented on #89
Thanks!
Twiddling with `password-stores` helped. Now I'm no longer prompted for user/pass.

Another concern: I'd noticed diffs did't work when the extension was unable to authenticate with repository; shouldn't it be able to show local changes without a connection?

[2018-02-23 09:31] JohnstonCode commented on #89
If you are left clicking on something in the SCM view then it would depend on the `svn.diff.withHead` setting.

[2018-02-23 10:34] JohnstonCode commented on #68
Working on this.

[2018-02-23 10:35] edgardmessias commented on #68
What your Idea?

[2018-02-23 10:37] JohnstonCode commented on #68
Pretty much same as you suggested. But rather than temp file just add a prompt then run `svn propset` if they accept

[2018-02-23 13:46] JohnstonCode commented on #68
@edgardmessias how would you suggest i deal with ignoring unversioned files as they arnt in a repository so you cant find a repository to run the command against?

[2018-02-23 13:53] edgardmessias commented on #68
Tell me a example

[2018-02-23 14:05] edgardmessias commented on #68
We cant use "Resource Group", because contain many files.

We can use [Explorer context menu (`explorer/context`)](https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributesmenus)

[2018-02-23 14:13] JohnstonCode commented on #68
What I mean is that all our commands require the file in question to be in the repository. so we use `getRepository` to find the repository and then use that to run the command

[2018-02-23 14:14] JohnstonCode commented on #68
I could just loop through all open repositories and see if the unversioned file is in the directory structure of the repository

[2018-02-23 14:18] edgardmessias commented on #68
Show a example of structure
In `svn status` show the unversioned file.

[2018-02-23 14:21] JohnstonCode commented on #68
I need to get all open repositories and then check if the file is in the unversioned resource group of each

[2018-02-23 14:25] edgardmessias commented on #68
I still can not understand its logic

[2018-02-23 14:27] JohnstonCode commented on #68
how do you find out what repository an unversioned file is in?

[2018-02-23 14:31] edgardmessias commented on #68
`getRepository` of `model.ts`

[2018-02-23 14:47] JohnstonCode commented on #68
Sorry, me being stupid. distracted at work.

[2018-02-23 14:48] edgardmessias commented on #68
😆

[2018-02-23 15:17] JohnstonCode commented on #68
Everything is working. Having one issue tho. im currently using `svn propset svn:ignore file.php .` it seem to only overwrite whats there already. Any suggestions?

FYI i use .svnignore and set it via `svn propset svn:ignore -F .svnignore .`

[2018-02-23 16:02] JohnstonCode commented on #68
I could do `svn propget svn:ignore .` and then just append it as a new line

[2018-02-23 16:15] edgardmessias commented on #68
Yes, use `svn propget svn:ignore .`, append new ignore, remove duplicated items, and `svn propset svn:ignore <new value> .`

[2018-02-23 16:17] edgardmessias commented on #68
The question: set ignore on root workspace or first parent folder of file?

[2018-02-23 16:24] JohnstonCode commented on #68
parent folder of file

[2018-02-23 16:31] JohnstonCode commented on #68
Changes are on [this branch](https://github.com/JohnstonCode/svn-scm/tree/properties)

The changes arnt currently finished some more changes are needed to clean up.

[2018-02-23 16:43] edgardmessias commented on #68
For `mime-type`, you can get current defined value

[2018-02-23 16:47] edgardmessias commented on #68
Suggestion:
[code]

[2018-02-23 16:49] edgardmessias commented on #68
To allow custom properties:
`svn:${propName}` => `propName` in `svnRepository.ts`

Example of custom: `tsvn:logtemplate`

[2018-02-24 10:00] JohnstonCode commented on #68
Didn't know custom properties were a thing.

Regarding your above changes I have done [this](https://github.com/JohnstonCode/svn-scm/commit/405b4c38ca6dc889d05ca1acb3505001dec79527). `this.removeAbsolutePath(directory);` was not resolving to the correct path so just left `directory` as is.

[2018-02-24 10:01] JohnstonCode commented on #68
Not sure what to do about mime-type.

[2018-02-26 10:05] Arwalk opened #184 "Source Control Provider tab duplicates an external when saving files."
- VSCode Version: 1.20.1
- OS Version: Ubuntu 14.04
- Extension Version: 1.20
- System Language: English
- SVN Version: 1.8.8

## Issue ##
The repository i work with heavily uses externals. Since the latest VSCode update, every time i save a file, the first recognized external is duplicated in the Source Control Provider tab.
Example. If i do a fresh checkout, my Source Control Providers will look

[2018-02-26 11:18] edgardmessias commented on #184
@Arwalk, Does the problem occur if you run refresh?

[2018-02-26 12:39] Arwalk commented on #184
It actually creates a new duplicate every time i click on the "refresh" button of the "main repo".

Refreshing any other external, even on the one that is duplicated (original or duplicated), doesn't do anything.

[2018-02-26 12:46] edgardmessias commented on #184
@Arwalk , test with https://ci.appveyor.com/api/buildjobs/454fvfbp3kqyelg4/artifacts/svn-scm.vsix

Tutorial: https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

[2018-02-26 12:53] Arwalk commented on #184
No source control providers seems to be recognized at all with this version. I even safely uninstalled the previous version before trying with the vsix you just sent.

[2018-02-26 12:55] JohnstonCode commented on #184
@edgardmessias do we know whats causing this?

[2018-02-26 12:58] edgardmessias commented on #184
@JohnstonCode, I'm investigating, maybe it's the `getRepository`

@Arwalk, you can send your folder structure?
Send result of `svn status` in root of main repository

[2018-02-26 13:09] Arwalk commented on #184
here it is, obviously removed names to avoid any possible problem with my workplace :)

?       .vscode
X       [EXTERNAL 1]
X       cmake

Performing status on external item at 'cmake':

Performing status on external item at '[EXTERNAL 1]':
?       [EXTERNAL 1]/Data/[EXTERNAL 4]
X       [EXTERNAL 1]/path/to/this/place/[EXTERNAL 2]
X       [EXTERNAL 1]/path/to/this/place/[EXTERNAL 3]

Performing s

[2018-02-26 15:23] mpearon commented on #170
@edgardmessias - I have switched to a new machine, synced my settings, then disabled all extensions. Unfortunately, this was all to no avail.

Here are a few screenshots
Disabled settings:
![image](https://user-images.githubusercontent.com/7157790/36678426-5776ec06-1ad6-11e8-9ab3-4f0112ebe7fc.png)

Head from vsCode:
![image](https://user-images.githubusercontent.com/7157790/36678465-79300256-1ad6-

[2018-02-26 15:26] JohnstonCode commented on #170
@mpearon Thanks for going through all that trouble.

I'll try again to replicate.

[2018-02-26 15:37] JohnstonCode commented on #170
@mpearon can you screenshot the output window when you are getting HEAD from the screenshot above?

[2018-02-26 15:40] JohnstonCode commented on #184
Thanks for that @Arwalk

Going to set up a test environment that has the same level of external nesting and see if I can reproduce.

[2018-02-26 16:04] JohnstonCode commented on #184
Yeah seem all the nesting breaks something.

[2018-02-26 16:05] mpearon commented on #170
@JohnstonCode - It's no problem at all!  I greatly appreciate you taking the time to troubleshoot! :)

If this is what you're after (hopefully I didn't misunderstand), there isn't much to see:
![image](https://user-images.githubusercontent.com/7157790/36680863-92532316-1adc-11e8-9c9f-b05df1005488.png)

[2018-02-26 16:31] JohnstonCode commented on #184
@edgardmessias [ here is the problem](https://github.com/JohnstonCode/svn-scm/blob/master/src/model.ts#L292)

[2018-02-26 16:32] JohnstonCode commented on #170
Can you screenshot the debug console as well please?

[2018-02-26 16:34] edgardmessias commented on #184
@JohnstonCode, you can send me you repository of test?

[2018-02-26 16:35] edgardmessias commented on #170
Not running the command: `svn cat ....`

[2018-02-26 16:36] edgardmessias commented on #170
@mpearon, please, run the commands:
`svn info <filename>` and `svn status --no-ignore <filename>`

[2018-02-26 16:38] JohnstonCode commented on #184
would be a pain as its all mapped to file:///.

Issue is the order of arguments for `isDescendant`

[2018-02-26 16:41] JohnstonCode commented on #184
This Does however rasied the issue of us testing stuff for all types of sanarios. Do you think there would be a benfit of me setting up an SVN repo on my server we can both access? @edgardmessias

[2018-02-26 16:43] edgardmessias commented on #184
It would be better to create a repository model and compact it to zip.

[2018-02-26 16:45] JohnstonCode opened #185 "Portable test svn repository"
Make testing issues easier between contributors.

[2018-02-26 16:46] JohnstonCode commented on #184
created #185 to discuss that

[2018-02-26 16:53] edgardmessias commented on #184
External of external not showing in "Source Control Providers", but show in the Svn Output

[2018-02-26 16:59] mpearon commented on #170
@JohnstonCode and @edgardmessias - Here is the output you requested.

**svn info:**

[code]

**svn status --no-ignore:**
`M       \\SERVERNAME\DIT\ScriptRepository\Modules\Modules\ServiceDesk\ServiceNow\CTS-ServiceNow.psm1`

[2018-02-26 17:01] edgardmessias commented on #170
lOl, UNC path, I can now do test

[2018-02-26 17:04] mpearon commented on #170
I'm sorry!  I didn't think to mention that it was a UNC path.
After a few years in this field, you would think that my default posture would be to offer all details - even the ones I wouldn't think to be related/important.

[2018-02-26 18:45] edgardmessias commented on #170
@mpearon, test this: https://ci.appveyor.com/api/buildjobs/5wgi9unbr9liw22p/artifacts/svn-scm.vsix

Instalation: https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

[2018-02-26 18:48] edgardmessias commented on #185
We can create a script (.js or .js) to generate the repository and its files.

[2018-02-26 19:19] mpearon commented on #170
@edgardmessias - I was able to add the VSIX.  For whatever reason, vsCode isn't getting the hint that it is acting as an SC provider.
![image](https://user-images.githubusercontent.com/7157790/36690350-aa9affa0-1af7-11e8-9339-751a13a04a16.png)

[2018-02-26 19:26] edgardmessias commented on #170
Sorry, I find a bug in package.

Try this:
[svn-scm.zip](https://github.com/JohnstonCode/svn-scm/files/1759989/svn-scm.zip)

[2018-02-26 19:31] mpearon commented on #170
@edgardmessias - The installation procedure requested a couple of reloads that time, but vsCode is still not seeing the SC provider for some reason.  Any logs I can provide you?

[2018-02-26 19:37] mpearon commented on #170
@edgardmessias - Unfortunately, it looks the same:
![image](https://user-images.githubusercontent.com/7157790/36691245-3c923868-1afa-11e8-9691-93b047742a9f.png)

[2018-02-26 19:55] edgardmessias commented on #170
Disable the auto update and reinstall

[2018-02-26 20:02] mpearon commented on #170
Oh, I didn't think about the auto-update getting it.
Whatever you did there fixed the issue! :)
![image](https://user-images.githubusercontent.com/7157790/36692411-9e64ca26-1afd-11e8-8dcf-230db99799dd.png)

[2018-02-26 20:03] edgardmessias commented on #170
Good, now wait the new release.

[2018-02-26 20:06] mpearon commented on #170
Awesome!  Thank you for all of your assistance and troubleshooting! :)
Thank you too, @JohnstonCode!

[2018-02-26 20:07] #170 closed

[2018-02-27 12:26] edgardmessias commented on #178
@Yanpas, can I close this issue?

[2018-02-27 12:44] Yanpas commented on #178
Yes. It's not critical and there are no steps to reproduce.

[2018-02-27 12:45] edgardmessias commented on #178
If it happens again, we will reopen

[2018-02-27 12:45] #178 closed

[2018-02-27 16:24] edgardmessias opened #188 "Add support to GNOME Keyring for SVN auth"
- VSCode Version: all
- OS Version: linux
- Extension Version: all
- System Language: all
- SVN Version: all

## Issue ##
Run a remote svn command (like `svn up`) without unlocking the GNOME Keyring

[2018-02-27 16:25] edgardmessias commented on #89
Closed in favor of #188

[2018-02-27 16:25] #89 closed

[2018-02-27 17:06] johnjacobkenny opened #189 "Unable to perform merge conflict selection in diff view"
So I updated my work repo and observed that I had a few merge conflicts. So I clicked one of those files in the sidebar and was presented with the diff view. Here in the diff view the conflict marker decorations are visible, but the option to pick which code to keep isn't coming in this view. Opening the same file in normal view works fine.

[2018-02-27 17:09] edgardmessias commented on #189
@johnjacobkenny, please use [issue template](https://raw.githubusercontent.com/JohnstonCode/svn-scm/master/.github/issue_template.md)

[2018-02-27 18:02] edgardmessias commented on #188
Solution:
* On auth failed, parse all files in `~/.subversion/auth/svn.simple`
* Find same server on `svn:realmstring`
* On each, if passtype is `gnome-keyring`, run: `secret-tool lookup domain {svn:realmstring} user {username}` to get password for use in `--username={username} --password=****`

[2018-02-27 20:35] edgardmessias commented on #188
Solution2:
This script unlocks the gnome keyring

[code]

[2018-02-28 10:47] Yanpas opened #190 "Open changes with base/head do nothing on non-modified files"
- VSCode Version: 1.20
- OS Version: linux
- Extension Version: 1.21
- System Language: ru
- SVN Version: 1.9.3

## Issue ##

## Steps to Reproduce ##

1. Open any file without any changes
2. Press changes button on the panel
3. Nothing happens, I expect message "files are identical"

## SVN Output ##
[code]

## Screenshots ##

[2018-02-28 13:54] rogeriorc opened #191 "Error when svn:externals points to a folder/subfolder"
- VSCode Version: 1.20.1
- OS Version: Windows 10
- Extension Version: 1.21.1
- System Language: PT-BR
- SVN Version: 1.9.7

## Issue ##

The Source Control panel don't show anyting and the update command show an error: Unable to update when the svn:externals points to a folder structure.

Example:
https://code.totvs.com:8443/svn/advtec9/trunk/third_libraries/iconv/linux64 third_libraries/iconv/li

[2018-02-28 14:10] Eretik opened #192 "Bug: incorrect branch names in branch switch menu"
- VSCode Version: 1.20.1
- OS Version: Windows 10 x64
- Extension Version: 1.21.1
- System Language: English
- SVN Version: 1.9.7

## Issue ##
In case of custom svn folders layout (branches are on second level subfolders - see the first screenshot) VSCode display only names of first level folder instead of names of second level subfolders - see the second screenshot.

## Steps to Reproduce ##
1. C

[2018-02-28 14:12] edgardmessias commented on #192
Duplicated of #117

[2018-02-28 14:13] edgardmessias commented on #191
@rogeriorc , test with this: https://ci.appveyor.com/api/buildjobs/pm2xq6ydttie1btj/artifacts/svn-scm.vsix

Instalation: https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix
Disable auto-update before

[2018-02-28 14:19] Eretik commented on #192
@edgardmessias This bug is not duplication for [#117](https://github.com/JohnstonCode/svn-scm/issues/117) because branches actually switching and VSCode shows correct branch name in left bottom corner after switching (but I've found an issue with switching back to trunk in case of such folder layout). This bug about incorrect branches names in branch switcher.

[2018-02-28 14:21] edgardmessias commented on #192
Sorry, I will fix

[2018-02-28 14:24] edgardmessias commented on #192
@Eretik, make a test for me:

Open file `~/.vscode/extensions/johnstoncode.svn-scm-1.21.1/out/commands.js`

Replace `ref.split("/")` to `ref.split("/", 2)`

[2018-02-28 14:27] edgardmessias commented on #192
@Eretik , no need more, I found the problem

[2018-02-28 14:30] Eretik commented on #192
@edgardmessias :) fast one!

[2018-02-28 14:37] edgardmessias commented on #192
@Eretik  , test with this: https://ci.appveyor.com/api/buildjobs/09v57bj5a84p63l2/artifacts/svn-scm.vsix

Instalation: https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix
Disable auto-update before

[2018-02-28 14:50] rogeriorc commented on #191
@edgardmessias, it worked!
Just one detail:
At the first time the panel is shown, these externals doesn't appear, but after a update command, they appear.

Thanks!

[2018-02-28 14:50] #191 closed

[2018-02-28 14:52] JOJO112 commented on #191
@@ -1,25 +1,66 @@
 # ShellCheck - A shell script static analysis tool

-http://www.shellcheck.net
+ShellCheck is a GPLv3 tool that gives warnings and suggestions for bash/sh shell scripts:

-Licensed under the GNU General Public License, v3
+![Screenshot of a terminal showing problematic shell script lines highlighted](doc/terminal.png)

[2018-02-28 14:53] edgardmessias commented on #191
Yes, you need run update to initialize the externals

[2018-02-28 14:57] rogeriorc commented on #191
Only in these externals.

Before update:
![image](https://user-images.githubusercontent.com/2599798/36794169-5daeebce-1c7e-11e8-8f6a-e031f830f003.png)

After update:
![image](https://user-images.githubusercontent.com/2599798/36794210-79002b40-1c7e-11e8-88d7-b7153a105dca.png)

[2018-02-28 14:58] #192 closed

[2018-02-28 16:15] Eretik opened #195 "Bug: impossible to switch back to the trunk after switching to any branch (branches are on second level subfolders)"
- VSCode Version: 1.20.1
- OS Version: Windows 10 x64
- Extension Version: 1.21.2
- System Language: English
- SVN Version: 1.9.7

## Issue ##
In case of custom svn folders layout (branches are on second level subfolders) on attempt to switch back to the trunk after switching to any branch the error throwing: `Path 'c:\projects\test-project' does not share common version control ancestry with the

[2018-02-28 16:36] edgardmessias commented on #195
@JohnstonCode, the problem is not subbranches, but ancestry.

Maybe the branches are not copy from trunk, but new folder.

[2018-02-28 16:46] JohnstonCode commented on #195
Okay, ill release it. see if it does anything. Really should get around to sorting out all this branch stuff. Next thing to do after properties.

[2018-02-28 16:48] JohnstonCode commented on #195
@Eretik Try latest release

[2018-03-01 09:27] #189 closed

[2018-03-01 09:27] #190 closed

[2018-03-01 09:30] JohnstonCode opened #199 "Locked items showing in changes list"
- VSCode Version:1.20.1
- OS Version:F26
- Extension Version:1.21.3
- System Language:EN
- SVN Version:1.9

Items flagged as locked are showing in changes list

## Steps to Reproduce ##

1. Have locked items look in changes list

![image](https://user-images.githubusercontent.com/10222719/36837055-1dcd4248-1d33-11e8-9980-1f674ad5b05d.png)

[2018-03-01 11:20] edgardmessias commented on #199
@JohnstonCode , run command: `svn status <locked file> --xml` and `svn status <folder of locked file> --xml`

[2018-03-01 11:51] JohnstonCode commented on #199
@edgardmessias Cant. needed to commit so locks have gone.

the svn stat locked like this tho

![image](https://user-images.githubusercontent.com/10222719/36843414-cbe41c18-1d46-11e8-8e3b-12ea45f8d7e6.png)

[2018-03-01 11:56] edgardmessias commented on #199
@JohnstonCode, send me XML: `svn stat bin --xml`

[2018-03-01 12:01] JohnstonCode commented on #199
@edgardmessias you wont get anything the dir is no longer locked.

`<?xml version="1.0" encoding="UTF-8"?>
<status>
<target
   path="bin">
</target>
</status>
`

[2018-03-01 12:02] JohnstonCode commented on #199
Looking through the code tho. It seems that anything that doesn't match is just added to the changes.

[here](https://github.com/JohnstonCode/svn-scm/blob/master/src/repository.ts#L458)

[2018-03-01 12:02] edgardmessias commented on #199
The problem is this: http://svnbook.red-bean.com/en/1.7/svn.tour.cleanup.html
I will work on this problem

[2018-03-01 12:04] edgardmessias commented on #199
To reproduce: switch branch and kill `svn`

[2018-03-01 12:10] JohnstonCode commented on #199
[code]

[2018-03-01 12:13] edgardmessias commented on #199
My result on folder:
[code]

[2018-03-01 12:19] JohnstonCode commented on #199
These shouldn't be making it to the changes list. The last else on the update will just take anything as long as it's not a changelist. This will need sorting.

[2018-03-01 12:27] JohnstonCode commented on #199
Also, we should add the `svn cleanup` command

[2018-03-01 13:20] Eretik commented on #195
@JohnstonCode It works now, thanks.
But still there are small inconsistent:
in case of custom folder layout for trunk and branches:
`"svn.layout.branches": "branches/test",
  "svn.layout.trunk": "trunk/test"`
VSCode shows in left bottom corner `trunk/test` for trunk, but only branch name for branches.
But still I'm not sure if it's incorrect behaviour actually.

[2018-03-01 13:27] JohnstonCode commented on #195
@Eretik it does seem inconsistent. I original idea never catered for subbranches. I do think tho that the bottom should probably show the full branch path. What do you think?

[2018-03-01 14:02] Eretik commented on #195
@JohnstonCode you mean `branches/test/branch_1` according to my example? It's one of the option, I think. Another one: as far as user cnfigure the plugin to use specific folders for the trunk and branches - show just `trunk` for the trunk and just branch name for the branches. And third option - it could be configurable. For example, `svn.layout.showFullPaths` boolean param.
Last one is the best a

[2018-03-01 14:03] edgardmessias commented on #195
The problem is detect root of repository

[2018-03-01 14:29] edgardmessias commented on #199
@JohnstonCode, finished

[2018-03-01 14:33] #199 closed

[2018-03-01 14:35] Eretik commented on #195
@edgardmessias but now we are discussing only displaying of path to the trunk or the branch folder I thought. Switching to branches and back to the trunk for my case working correctly now with latest release. @JohnstonCode May be I should create another Issue for the discussion about displaying folder path?

[2018-03-01 14:39] JohnstonCode commented on #195
@Eretik yeah do that

[2018-03-02 01:27] nuintun opened #202 "How to turn off the update prompt?"
- VSCode Version: 1.20.1
- OS Version: WIN10 PRO 1709
- Extension Version: 1.22.0
- System Language: zh_CN
- SVN Version: 1.9.7

## Issue ##

How to turn off the update prompt?
This prompt is not necessary. It can be displayed on the status bar.

## Screenshots ##

![_20180302092258](https://user-images.githubusercontent.com/1730277/36878736-5559d078-1dfb-11e8-86b3-c31ecb91ba6c.png)

[2018-03-02 07:21] johnjacobkenny opened #203 "Option to commit all files in a changelist"
## Issue ##
Unable to quickly commit all files in a changelist

[2018-03-02 09:10] JohnstonCode commented on #202
@nuintun currently there is no way to turn the information message off on commit.

Moving it to the status bar could be an option.

[2018-03-02 09:13] JohnstonCode commented on #203
@johnjacobkenny would a commit changelist command solve your issue?

[2018-03-02 09:53] Eretik opened #204 "Inconsistent displaying of the branchs'/trunk's names/paths"
- VSCode Version: 1.20.1
- OS Version: Windows 10 x64
- Extension Version: 1.21.3
- System Language: English
- SVN Version: 1.9.7

## Issue ##
In case of custom folder layout for trunk and branches:
`"svn.layout.branches": "branches/test",
"svn.layout.trunk": "trunk/test"`
VSCode shows in left bottom corner trunk/test for trunk, but only branch name for branches.

I can imagine three options to ma

[2018-03-02 09:54] Eretik commented on #195
@JohnstonCode done: [#204](https://github.com/JohnstonCode/svn-scm/issues/204)

[2018-03-02 11:18] edgardmessias commented on #203
@johnjacobkenny , please, use the [issue template](https://raw.githubusercontent.com/JohnstonCode/svn-scm/master/.github/issue_template.md)

[2018-03-02 11:19] edgardmessias commented on #203
@johnjacobkenny, svn output?

[2018-03-02 19:32] edgardmessias commented on #117
@TheDanR, @pawellan13, @Eretik, @JohnstonCode , test with this: https://ci.appveyor.com/api/buildjobs/9g08tgueatcnrfw7/artifacts/svn-scm.vsix

Instalation: https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix
Disable auto-update before

[2018-03-03 18:58] JohnstonCode commented on #117
@edgardmessias sorry for the delay I will check it out tomorrow.

[2018-03-04 16:33] johnjacobkenny commented on #203
@JohnstonCode yes, that's exactly what I was looking for.
@edgardmessias Sorry about the mess up... Its actually a feature request, is there a format for that

[2018-03-06 03:58] DavidCao626 opened #206 "Can I use it under MacOS?"
- VSCode Version: 1.20.1
- OS Version: mac Os 10.13
- Extension Version:
- System Language:
- SVN Version:

## Issue ##

Can I use it under MacOS?
I'd searched some svn plugins, but those only work for Windows...

Confused :(

[2018-03-06 10:58] edgardmessias commented on #206
Yes

[2018-03-06 16:36] edgardmessias commented on #117
Someone?

[2018-03-06 16:45] TheDanR commented on #117
Only seems to go down by one
it also doesn't take into consideration as to where in the branch you checked out, so when switching it pulls from the top of the branch.

[2018-03-06 16:48] edgardmessias commented on #117
@TheDanR, you modified the `svn.layout.( trunk, branches, tags )Regex` and `svn.layout.( trunk, branches, tags )RegexName`?

[2018-03-06 17:25] JohnstonCode commented on #117
How do you create sub-branches? Also, Why would you need to create a sub-branch?

[2018-03-06 17:32] edgardmessias commented on #117
Refer to #204

Some projects use `/trunk/<project>`, `/branches/<project>/<branches>` and `/tags/<project>/<tags>`

Some cases, I see `/<project>/branches/<username>/<branches>`

See https://confluence.atlassian.com/fisheye/svn-tag-and-branch-structure-298976888.html

[2018-03-06 17:33] edgardmessias commented on #117
![image](https://user-images.githubusercontent.com/1530997/37047955-446422d4-214b-11e8-8a63-bba5ca69a114.png)

[2018-03-06 17:45] JohnstonCode commented on #117
I use a standard layout never had any experience with custom layouts.

@edgardmessias thanks for those two links.

[2018-03-07 19:11] #206 closed

[2018-03-07 19:13] edgardmessias commented on #203
@johnjacobkenny , on commit, you can choose a changelist, and all files are included

[2018-03-08 10:27] grapestech opened #207 "Show incoming changes files (remote changes)"
- VSCode Version:
- OS Version:
- Extension Version:
- System Language:
- SVN Version:

## Issue ##
Is it possible to show the list of incoming changes in the changes view ?
## Steps to Reproduce ##

1. Go to source control view
2. Only local changes appear (M, U)

## SVN Output ##
[code]

## Screenshots ##

[2018-03-08 10:53] edgardmessias commented on #203
If you have changelist, run normal commit, without selected file, on commit, show all changelists to select.

[2018-03-09 10:09] johnjacobkenny opened #208 "Newly added image asset not opening from vcs sidebar"
- VSCode Version: 1.21
- OS Version: Windows 10
- Extension Version: 1.22
- System Language: English
- SVN Version: 1.9.7

## Issue ##
Nothing happens when clicking on a newly added image in the sidebar. I was expecting the image to just open as it would normally from the explorer sidebar.

## Steps to Reproduce ##

1. Add a new image asset to project
2. Open the source control sidebar
3. Click on

[2018-03-09 15:56] mamen2022 opened #209 "SVN not showing new Commited files ?"
- VSCode Version: 1.21.0
- OS Version: Ubuntu  16.04
- Extension Version: 1.22
- System Language: English
- SVN Version: 1.9.3

## Issue ##

Hi,
I am trying to use SVN with Visual Studio Code, but I have a question.
I see that there is a new Commit in the "Source Control" menu, but how can i see the files that changed in new commits? In "Source Control" only shows the "Changes" (that I made) and "

[2018-03-09 16:17] llgcode opened #210 "Update ignoring externals"
Hi,
I would be great if we can update without getting externals. With a new menu or a settings.
like in a terminal:
`svn update --ignore-externals`

thanks

[2018-03-09 16:30] edgardmessias commented on #209
Related #179

[2018-03-09 17:02] edgardmessias commented on #208
@johnjacobkenny  , test with this: https://ci.appveyor.com/api/buildjobs/82fxpwlvj26fuvfa/artifacts/svn-scm.vsix

Instalation: https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix
Disable auto-update before

[2018-03-09 17:36] mamen2022 commented on #209
I thought that was a miss configuration on my end..
This is the only SVN extension that supports Linux Distributions, please try to fix it..
Visual Studio looks awsome, but like this is hard to migrate to him.

Again, Thank You

[2018-03-13 07:40] johnjacobkenny commented on #208
Yes it works now. Opening the file is working correctly. However when I try to delete it, I'm getting
[code]

[2018-03-13 09:24] #208 closed

[2018-03-13 09:25] #117 closed

[2018-03-13 11:02] edgardmessias commented on #204
@Eretik , test with this: https://ci.appveyor.com/api/buildjobs/nv2veohqlsim4t9i/artifacts/svn-scm.vsix

Instalation: https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix
Disable auto-update before
Configure news options

[2018-03-13 15:48] GadgetMan0101 opened #212 "Unable to install with "Couldn't find a compatible version of SVN with this version of Code." error."
- VSCode Version: 1.15.1
- OS Version: Windows 10 Pro (64bit)
- Extension Version:
- System Language: English
- SVN Version: TortoiseSVN 1.9.7

## Issue ##
Trying to install the extension and I get the error "Couldn't find a compatible version of SVN with this version of Code."

## Steps to Reproduce ##

1. Find the SVN extension in the marketplace, click install.

## SVN Output ##
[code]
[code]

[2018-03-13 16:13] johnjacobkenny commented on #203
Where can I find the option you were referring to as`normal commit`? Do you mean entering a commit message and pressing enter? I was under the impression that it would commit all files

[2018-03-13 16:18] edgardmessias commented on #203
@johnjacobkenny, for tests.

Checkout this repository: https://plugins.svn.wordpress.org/jetpack/trunk/

Change some files, and create most change lists.

Run commit.

Note: Commit fail because need valid credentials

[2018-03-13 16:24] edgardmessias commented on #212
@GadgetMan0101, the problem is not subversion not found, but, your VSCode version is too old.

Upgrade your VSCode to `>1.18`` or lastest

[2018-03-13 16:28] johnjacobkenny commented on #203
@edgardmessias Now that I've done it, it makes perfect sense. Thanks!

[2018-03-13 16:28] #203 closed

[2018-03-13 19:24] GadgetMan0101 commented on #212
Thanks. I couldn't see anywhere that identified the minimum version of VSCode required.

[2018-03-13 19:24] #212 closed

[2018-03-14 03:53] johnjacobkenny opened #215 "Diff patch for changelists"
- VSCode Version: 1.21.0
- OS Version: Windows 10
- Extension Version: 1.22
- System Language: en
- SVN Version: 1.9.7

## Issue ##
Currently the option is available to show a diff patch for selected file. It would be nice to have the option to generate patch for a changelist.
## Steps to Reproduce ##

1.
2.

## SVN Output ##
[code]

## Screenshots ##

[2018-03-14 04:02] johnjacobkenny opened #216 "Issue in diff patch for selected"
- VSCode Version: 1.21.0
- OS Version: Windows 10
- Extension Version: 1.22
- System Language: en
- SVN Version: 1.9.7

## Issue ##
Diff patch for selected only shows the patch for a single file that is currently open in the diff view.

## Steps to Reproduce ##

1. Make changes to some code
2. Open version control sidebar
3. Select multiple files (only the first file opens up in the diff view)
4.

[2018-03-15 08:31] johnjacobkenny opened #217 "Jump to next conflict"
- VSCode Version:
- OS Version:
- Extension Version:
- System Language:
- SVN Version:

## Issue ##
When trying to resolve multiple conflicts in a file, currently we need to manually scroll to the next conflicted area to be able to resolve the next conflict. It would be easier if the editor could automatically scroll to the next conflicted section in the same file. This could be the default behavi

[2018-03-15 11:15] edgardmessias commented on #217
Sorry @johnjacobkenny, this feature is not part of SVN extension.

See https://code.visualstudio.com/docs/editor/versioncontrol#_merge-conflicts

Open issue here: https://github.com/Microsoft/vscode/tree/master/extensions/merge-conflict

[2018-03-15 11:39] johnjacobkenny commented on #217
I've opened an issue here https://github.com/Microsoft/vscode/issues/45853

[2018-03-15 11:39] #217 closed

[2018-03-16 21:21] warnedar commented on #104
How was the issue resolved?
I'm currently able to see the prompt
Using svn "1.7.10 (r1485443)" from "C:\Program Files\TortoiseSVN\bin\svn.exe"
after selecting Svn in the output console.  But the source control manager still says, "There are no active source control providers."
Am I missing something?

[2018-03-17 19:57] flipovic opened #219 "Cannot commit to a private SVN repository"
- VSCode Version: 1.21.1
- OS Version: Linux Mint 17.3
- Extension Version: 1.22.0
- System Language: en_US
- SVN Version: 1.8.8

## Issue ##

I have a folder opened on my VS Code which is a checkout from an external SVN repository, to which I have access via simple username/password authentication, but I cannot commit my changes and the following appears on the SVN extension console output:
[code

[2018-03-19 09:49] JohnstonCode commented on #216
@johnjacobkenny does it work if you use `Show diff patch for selected` from the right click menu?

[2018-03-19 09:51] JohnstonCode commented on #216
@johnjacobkenny never mind.

The options menu will have not reference to what has been highlighted in the SCM menu. I can either remove it completely or replace it with a `Show diff patch for open files`

[2018-03-19 09:53] JohnstonCode commented on #219
@edgardmessias is this a GNOME key ring issue?

[2018-03-19 11:04] edgardmessias commented on #219
@JohnstonCode, maybe.

@flipovic, you can run simple test?

In terminal, on svn folder, run: `svn info -r HEAD`

[2018-03-19 11:07] edgardmessias commented on #216
@JohnstonCode, replace in `scm/title`, from `svn.patch` to `svn.patchAll` and remove `svn.resolve`

[2018-03-19 11:18] JohnstonCode commented on #216
@edgardmessias okay will do

[2018-03-19 13:09] flipovic commented on #219
@edgardmessias right now I'm on a different computer, at work, with the following

[2018-03-19 13:18] flipovic commented on #219
Sorry, I clicked on the wrong button and unintentionally closed the issue.

Right now I'm on my work computer, with the same VSCode and SVN extension version, but with Mint 18.3 and SVN 1.9.3, and although the result is the same, I still cannot perform SVN operations on the remote repository, the error is different, follows an example for a failed update as it appears on the extension console oupu

[2018-03-19 14:42] #216 closed

[2018-03-19 14:43] edgardmessias commented on #219
@flipovic, you use GNOME Keyring?

[2018-03-19 14:53] edgardmessias commented on #219
@flipovic , test with this: https://ci.appveyor.com/api/buildjobs/k580jdfhb8eml3p9/artifacts/svn-scm.vsix

Instalation: https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix
Disable auto-update before

[2018-03-19 15:27] flipovic commented on #219
@edgardmessias I have installed the VSIX as suggested.

GNOME Keyring stores my login credentials for some resources, and I looked around and somehow it had old credentials (no longer active) for the SVN remote repository I am using, but even after deleting them and restarting VS Code the exact same error remains.

Should I have my SVN credentials stored (via my svn client on $HOME/.subversion), i

[2018-03-19 15:40] flipovic commented on #219
I have updated my SVN configuration to store my password, using the option **store-passwords = yes** on **~/.subversion/servers** and after making an SVN operation on the terminal and thus saving my password  on GNOME Keyring the errors on VS Code extension went away and I can now use it with no problems!

The only limitation is that I'm currently forced to have my credentials saved, which means t

[2018-03-19 16:08] macrobb-cygnusaero opened #221 "Committing doesn't work with specific message"
- VSCode Version: Version 1.21.1
- OS Version: Debian Sid (4.15.0-10.1-liquorix-amd64)
- Extension Version: 1.23.1
- System Language: English
- SVN Version: 1.9.7 (r1800392)

## Issue ##
I cannot commit a change with a specific message. With no message, it commits correctly

## Steps to Reproduce ##
1. Create a folder called 'test'(or any specific string) in your SVN-controlled directory
2. Right-

[2018-03-19 16:18] edgardmessias commented on #221
Not is `[trunk]$ svn commit -m "My file path" test `?

[2018-03-19 16:21] macrobb-cygnusaero commented on #221
There are no quotes.

[2018-03-19 16:22] edgardmessias commented on #221
@macrobb-cygnusaero, invert message and path.

`svn commit test -m My file path`

[2018-03-19 16:24] edgardmessias commented on #221
Note: Internal, vscode use quote for each argumet

[2018-03-19 16:26] edgardmessias commented on #221
My local tests is ok for commit new folder

[2018-03-19 16:27] macrobb-cygnusaero commented on #221
Here's a screenshot of the issue, in the VS Code debug window.
I'm glad that VS Code is using quotes(so a comment of "TestThis | echo 'test' > 'thisisafile.txt'" won't result in shell injection)

![screenshot_20180319_092442](https://user-images.githubusercontent.com/8333829/37608347-869a2124-2b57-11e8-9427-98633a021af1.png)

[2018-03-19 16:30] macrobb-cygnusaero commented on #221
You must make a folder(say "test") and comment using the exact same message as the folder. SVN sees the comment as being a path, I believe. I've tried it directly:
![screenshot_20180319_092916](https://user-images.githubusercontent.com/8333829/37608562-1f5e6136-2b58-11e8-9a38-1fab0d56a4ce.png)
Even with the -m after it and quoted, SVN still thinks you are commenting a path

[2018-03-19 16:33] edgardmessias commented on #221
Now I can reproduce.

[2018-03-19 16:52] edgardmessias commented on #221
Fixed with #222

[2018-03-19 16:54] macrobb-cygnusaero commented on #221
Thanks!

[2018-03-19 16:55] edgardmessias commented on #221
@macrobb-cygnusaero, test with this: https://ci.appveyor.com/api/buildjobs/3n3i60kyeuen8f0b/artifacts/svn-scm.vsix

Instalation: https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix
Disable auto-update before

[2018-03-19 18:02] #221 closed

[2018-03-19 18:04] #219 closed

[2018-03-19 18:14] flipovic commented on #219
Just a last comment to thank you for your quick and useful assistance! Keep up the excellent work!

[2018-03-19 19:05] macrobb-cygnusaero commented on #221
Works for me. Looks like "--force-log" is added if the file exists.

[2018-03-19 19:07] edgardmessias commented on #221
Yes, only file exists

[2018-03-19 22:56] dimazev opened #223 "Does not works properly when source file contains "@""
- VSCode Version: latest
- OS Version: Mac
- Extension Version: latest
- System Language: TS
- SVN Version: 1.9

## Issue ##

## Steps to Reproduce ##
create file wich contains "@"  for example file  test@any.txt

## SVN Output ##
[code]

## Screenshots ##

[2018-03-20 12:28] randyou opened #224 "Status bar bug"
VSCode Version: 1.21.1
OS Version: Windows 7 x64
Extension Version: 1.23.2
System Language: JS
SVN Version: 1.9.7

## Issue ##
Open a folder like 'resources' of a  java project, status bar d not shows 'struct' or  'v1' .
Svn Url :" svn://[ip]:[port]/main-project/main-name/branches/v1/my-java-project/web/src/main/resources"
My folder structure is like “E:\foo\workspace\code\my-java-project\web\src\

[2018-03-20 12:31] edgardmessias commented on #224
@randyou, svn folder structure?

Only show if found the "branch" name

[2018-03-20 13:34] edgardmessias commented on #223
About: http://svnbook.red-bean.com/en/1.8/svn.advanced.pegrevs.html

[2018-03-20 13:43] edgardmessias commented on #204
Closed by #205

[2018-03-20 13:45] #204 closed

[2018-03-20 14:06] edgardmessias commented on #179
The #139 not resolve for you?

[2018-03-20 14:12] llgcode commented on #210
Thank you !

[2018-03-21 01:04] randyou commented on #224
Svn Url :" svn://[ip]:[port]/main-project/main-name/branches/v1/my-java-project/web/src/main/resources"
My folder structure is like “E:\foo\workspace\code\my-java-project\web\src\main\resources”;

At last version, open “E:\foo\workspace\code\my-java-project\web\src\main\resources” in vscode and it showed 'v1' at bottom-left.

[2018-03-21 09:15] grapestech commented on #209
Hi ! Is this planned or currently coming soon?
Already reported a duplicate in #207

Thanks !

[2018-03-21 09:53] grapestech commented on #207
Correct.

We currently use Subversive with eclipse and this is essential for us to view the list of incoming files and compare them with the working version before updating the code.

The files can be listed under Changes but with a different decorator to indicate that those are remote and not local changes.

Thanks !

[2018-03-21 11:02] #202 closed

[2018-03-21 11:22] edgardmessias commented on #224
If show "v1", is correct.

[2018-03-21 12:00] randyou commented on #224
It dosn't show "v1" now.
![image](https://user-images.githubusercontent.com/8247661/37708657-7b050940-2d42-11e8-82a8-c277ec152d0e.png)

[2018-03-21 12:02] #215 closed

[2018-03-21 12:08] edgardmessias commented on #224
@randyou, show me your `svn.layout.branchesRegex` and `svn.layout.branchesRegexName` config please

[2018-03-21 12:21] edgardmessias commented on #224
Try this: `"svn.layout.branchesRegex": "branches/([^/]+)(/.*)?"`

[2018-03-21 12:27] randyou commented on #224
I haven't set svn.layout.trunkRegex and svn.layout.branchesRegex .
And I found it works at branches now.
![image](https://user-images.githubusercontent.com/8247661/37709693-f95d3bc0-2d45-11e8-8692-c0f46d51a1a7.png)

Then I set "svn.layout.trunkRegex": "trunk/([^/]+)(/.*)?" , it works at trunk now.
![image](https://user-images.githubusercontent.com/8247661/37709751-284ea7a2-2d46-11e8-9d4e-bcd6db0ec

[2018-03-21 12:29] edgardmessias commented on #224
For `svn.layout.trunkRegex`, use `"(trunk)(/.*)?"`

See `svn.layout.showFullName` to show only branch name

[2018-03-21 12:36] randyou commented on #224
It works like before ! Thank you !
![image](https://user-images.githubusercontent.com/8247661/37710076-81853538-2d47-11e8-8810-ad0e6aa5dc35.png)

[2018-03-21 12:37] edgardmessias commented on #224
Good, I will update the default config with new regex

[2018-03-21 12:44] #224 closed

[2018-03-21 12:44] edgardmessias commented on #224
@JohnstonCode, done

[2018-03-21 14:37] JohnstonCode commented on #207
@edgardmessias what would the best command to run to get a list of all the incoming file changes.

`svn stat -u` highlights them by putting a '*' in the ninth column. The XML output doesn't seem to highlight them in any way.

[2018-03-21 14:39] llgcode commented on #210
Hi,
it's not working, I can't reopen the issue but the problem comes from the id of the setting, it works when I use `"svn.ignoreExternals": true`
In the documentation it is said that it is svn.update.ignoreExternals.

[2018-03-21 14:42] llgcode commented on #210
The default value true is surprising. If someone update it's extension and uses the default behaviour that is updating including externals it will have the surprise that it no longer work.

[2018-03-21 15:05] JohnstonCode commented on #207
maybe something like `svn diff -r BASE:HEAD --summarize --xml`

[2018-03-21 16:13] grapestech commented on #207
Yes this might work

[2018-03-21 16:31] edgardmessias commented on #207
@JohnstonCode, from `svn stat -u --xml`, we need compare the `<repos-status>`

[2018-03-21 16:32] edgardmessias commented on #207
From source code, to show `*`:  https://github.com/apache/subversion/blob/8691483c2568ebd3d7d6ba9a3764bc1311c8df2e/subversion/svn/status.c#L363

[2018-03-21 16:36] edgardmessias commented on #207
The question: What is the best way to display in VSCode?

VSCode has its limitations

[2018-03-21 19:27] JohnstonCode commented on #207
yes I was thinking about using another optional ResourceGorup that just lists the files in the incoming changes and just has the ability to diff base:head

[2018-03-21 19:35] edgardmessias commented on #207
Small inconvenience: The position is before "changelists"

[2018-03-21 19:39] JohnstonCode commented on #207
that would be an inconvenience. I'll have a play around and see what looks best.

[2018-03-21 19:41] edgardmessias commented on #207
Maybe we can implement the [Tree View](https://github.com/Microsoft/vscode-extension-samples/tree/master/tree-view-sample)

[2018-03-23 10:34] Guema opened #229 ""Remove from changelist" bad behaviour"
- VSCode Version: 1.21.1
- OS Version: Windows 7 x64
- Extension Version: 1.26.0
- System Language: FR-fr
- SVN Version: 1.9.7

## Issue ##

It seems "Remove from changelist" command vanishes from proposals after doing some things.

I use it with ignore-on-commit only at the moment.

## Steps to Reproduce ##

1. do a change
2. add change to ignore-on-commit list via "Set changelist" menu
3. open "

[2018-03-23 16:47] JohnstonCode commented on #207
Tree View could work

[2018-03-26 11:17] Eretik commented on #204
@edgardmessias Sorry for late response. Yes, feature about showing/hiding full paths works now. But with moving config options from paths to regexes I do not understand how to restrict possibility of switching between branches of only one sub-folder of 'branches' folder. Could you please provide me example of regex for my case?

[2018-03-26 13:56] Eretik commented on #204
@edgardmessias unfortunately, it works just as default values. My folder structure is:
- trunk
  - MyProject
  - AnotherProject
- branches
  - MyProject
    - branch1-1
    - branch1-2
  - AnotherProject
    - branch2-1
    - branch2-2

And I would like to bind `trunk` to `trunk\MyProject` directly, without necessity of making a choice between all possible trunks. And after clicking on branch name

[2018-03-26 14:12] edgardmessias commented on #204
Use it:

svn.layout.trunkRegex: `"(trunk)/MyProject(/.*)?"`
svn.layout.branchesRegex: `"branches/MyProject/([^/]+)(/.*)?"`
svn.layout.tagsRegex: `"tags/MyProject/([^/]+)(/.*)?"`

Note: every show all folders, but, you not can switch to all, limited by "MyProject"

[2018-03-26 14:47] edgardmessias commented on #204
Question: How you do it without VSCode?
Why not use the standard layout in SVN?

Ideas are welcome!!!

[2018-03-26 15:40] JohnstonCode commented on #204
Would this regex not work?

svn.layout.trunkRegex: "trunk\/MyProject(\/.*)?"
svn.layout.branchesRegex: "branches\/MyProject(\/.*)?"

[2018-03-26 15:48] JohnstonCode commented on #229
@edgardmessias you looking at this or am i okay to have a look at this tonight?

[2018-03-26 15:56] edgardmessias commented on #229
The problem is windows path. Need normalize to compare

[2018-03-26 18:07] #229 closed

[2018-03-27 04:58] Eretik commented on #204
@edgardmessias Without VSCode: `TortoiseSVN -> Switch`, with same problems of finding right folder. About second question - it's corporate restrictions (one repo per project, despite amount of sub-projects) and architectural decisions :). I'm asking about it now just because it was possible with `branches/trunk/tagsPath` options.

@JohnstonCode Unfortunately no. It works in strange way - some fold

[2018-03-27 11:17] JohnstonCode commented on #204
@Eretik

`svn.layout.trunkRegex: "trunk\/MyProject"`
`svn.layout.branchesRegex: "branches\/MyProject\/(.*)"`

Can you see if those are any better please

[2018-03-27 11:24] edgardmessias commented on #204
@Eretik, for sub-folders, you need update your regex to catch all.

See: https://regex101.com/r/3Xs7x4/1

You can use this site to make your regex. You can paste all URLs.

Maybe you need update the group capture in `svn.layout.branchesRegexName`

[2018-03-27 11:28] JohnstonCode commented on #204
@Eretik

`svn.layout.branchesRegex: "branches\/MyProject\/(.*)(?=\/)"`

Maybe this will work

[2018-03-27 12:44] JohnstonCode opened #231 "Sub branches showing all"
- VSCode Version:1.21.1
- OS Version:f27
- Extension Version:1.26.1
- System Language:EN
- SVN Version:1.9

## Issue ##
The `svn.layout.branchesRegex` is only used to filter out the names of branches. I think there is some confusion about filtering out names and only retrieving the results of the regex.

[2018-03-27 12:45] JohnstonCode commented on #204
None of the regex will work. I thought the whole sub-branch thing worked differently.

I can also see how it use to work for you before @Eretik

I have created a new issue #231

[2018-03-27 12:46] edgardmessias commented on #231
@JohnstonCode, the real problem is: How to detect the root of repository and the branches?

[2018-03-27 12:47] edgardmessias commented on #204
@JohnstonCode, I disagree, It works, just not how he'd like it

[2018-03-27 13:08] edgardmessias commented on #231
Now work like the "TortoiseSVN", but, if is a branch, show a [git-branch icon](https://octicons.github.com/icon/git-branch/), and folder show [file-directory icon](https://octicons.github.com/icon/file-directory/)

For list all branches only, we need run `svn ls --depth infinity <url>` and filter by regex, the problem is very very slow.

[2018-03-27 14:15] Guema commented on #229
I updated ext.

Work perfectly now, thanks you very much and good job !

Guema

[2018-03-27 17:42] JohnstonCode commented on #231
@edgardmessias maybe combine both new and old?

Have config value to point to branches and then use the regex from there?

[2018-03-27 17:57] edgardmessias commented on #231
Each person uses SVN in a way.

The question is not only "switch branch", but how to detect root of repository and ability of create news branches and tags

Current solution solves these problems.

Running multiple `svn ls` is very slow

[2018-03-27 18:00] JohnstonCode commented on #231
But giving the extension a path to the branches from the root is an addition that wouldn't affect anyone?

So nothing changes for anyone happy with the current setup. But allows people that liked it the old way to use it as before

[2018-03-27 18:16] edgardmessias commented on #231
Idea:
* Create a option like `svn.layout.useRegexForBranchName: boolean`
* Create `svn.layout.trunk.folder`, `svn.layout.branches.folder` and `svn.layout.tags.folder`
* Move `svn.layout.branchesRegex` to `svn.layout.branches.regexForName`, same with tag

If `svn.layout.useRegexForBranchName` is false, use single list to detect the branches, if true, use current listing method

[2018-03-27 18:18] edgardmessias commented on #207
The another sugestion is use decorationProvider, but it is a proposed-api

[2018-03-28 08:45] JohnstonCode commented on #207
That is also a good option. It has been proposed for a while now. Wonder how long before the make it available.

[2018-03-29 08:59] johnjacobkenny commented on #185
What would be a good directory structure to generate for this purpose? I can give this a try.

[2018-04-02 08:29] JohnstonCode commented on #185
Don't think the folder structure matter too much just needs a local SVN repository creating then a copy checked out.

[2018-04-02 11:08] edgardmessias commented on #185
Create a library to build multiple repositories, to use in unit tests.

[2018-04-02 11:29] JohnstonCode commented on #68
#232

[2018-04-02 12:08] JohnstonCode opened #233 "Svn propset commands"
@s-martin would like

1. EOL
2. Executable
3. Externals

[2018-04-02 12:08] JohnstonCode commented on #68
#233

[2018-04-02 12:08] #68 closed

[2018-04-03 08:24] ioancrisan opened #234 "Setting for ignoring files, like *.js or *.js.map."
- VSCode Version: 1.21.1
- OS Version: Windows 10 Enterprise
- Extension Version: 1.27.1
- System Language: EN
- SVN Version: TortoiseSVN 1.9.7, Build 27907 - 64 Bit , 2017/08/08 19:34:38
Subversion 1.9.7

## Issue ##

It would be ideal to be able to ignore some files by default, like *.js or *.map, otherwise they appear in the change list. For TypeScript based projects they are only noise for the

[2018-04-03 08:59] JohnstonCode commented on #234
Are you wanting to just ignore them from the SCM View or ignore them using `svn propset svn:ignore`?

[2018-04-03 09:18] johnjacobkenny commented on #185
Multiple repos, how would they be different? What all should be included?

[2018-04-04 11:03] johnjacobkenny opened #235 "Preserve failed commit message"
- VSCode Version: 1.21.1
- OS Version: Windows 10
- Extension Version: 1.26.1
- System Language: en
- SVN Version: 1.9.7

## Issue ##
When I try to commit, if there's an error the commit fails. In order to commit again, I'm asked to enter the entire commit message. It would be nice if the commit message is preserved if the commit failed so that the user does not need to enter it again.

## Steps t

[2018-04-04 11:05] johnjacobkenny opened #236 "Show reason for commit failed"
- VSCode Version: 1.21.1
- OS Version: Windows 10
- Extension Version: 1.26.1
- System Language: en
- SVN Version: 1.9.7

## Issue ##
Currently if a commit fails, it just says commit failed and does not expand on what the issue is, or how to fix it. Right now, I'm checking the svn output to determine what went wrong. It would be nice if this is included in the error notification.

## Steps to Repr